template(name='child_docs')
    .ui.styled.fluid.accordion

        .title
            img.ui.avatar.image(src="https://png.icons8.com/flow-chart/color/48" width="48" height="48")
            |Child Documents
        .content
            .ui.cards
                each child_docs
                    .card
                        .content
                            .header
                                if title
                                    |#{title}
                            .description
                                .meta
                                    each tags
                                        .ui.basic.label #{this}