template(name='home')
    .ui.grid
        .row
            .four.wide.column   
                .ui.header f
            .twelve.wide.column
                +ancestor_facet
        .row
            .four.wide.column
                +tag_facet
                +username_facet
            .twelve.wide.column
                .ui.header docs
                +child_docs