template(name='home')
    img.ui.fluid.image.go-behind(src="{{c.url 'tori_slider' width='1200' crop='scale' }}")
    .slider-header
        img.ui.image(src="{{c.url 'orange_tw_name' }}")
    .mobile.hidden.slider-subheader
        |I’m a lifestyle coach & motivational speaker currently living in Boulder, Colorado. 
    .mobile.hidden.slider-sub-subheader
        | My goal is to spread light to others to help them navigate their own journey through life.
        
    
