template(name='nav')
    .ui.grid
        .centered.row
            .four.wide.center.aligned.column
                .ui.horizontal.list
                    .item
                        a(href="/")
                            i.home.big.icon
                    .item
                        a(href="/karma")
                            i.empty.heart.big.icon
                    .item
                        +admin_toggle
                    // .item
                    //     #report_bug.ui.icon.basic.white.inverted.button(data-position="bottom center" data-tooltip="Report a Bug/Feature Request")
                    //         +icon48 name='bug'
            .eight.wide.center.aligned.column
                with doc
                    if parent._id
                        +parent_link
                    else
                        a.ui.button(href='/') facet
                    // +ancestor_facet
            .four.wide.center.aligned.column
                if currentUser
                    .ui.horizontal.list
                        if cart_items
                            a.ui.icon.basic.white.inverted.button(href='/cart')
                                i.large.icons
                                    i.cart.icon
                                    i.corner.teal.asterisk.icon
                        .item
                            a(href="/messages")
                                i.big.chat.outline.white.icon
                        .item
                            .ui.dropdown
                                i.big.alarm.icon
                                .menu
                                    .item hi
                                    .item hi
                                    .item hi
                                    a.item(href='/notifications') view ll
                        .item
                            a(href="/user/#{currentUser.username}")
                                if currentUser.profile.image_id
                                    img.ui.mini.image(src="{{c.url currentUser.profile.image_id width=60 height=60 gravity='face' crop='fill'}}")
                                else
                                    i.user.icon
                else
                    a.ui.icon.basic.white.inverted.button(href='/sign-in') 
                        +icon48 name='login-rounded-down' classes='ui mini inline spaced image'
                        // | Sign In
