.ui.button, .ui.label.tag
    margin-top  .1em !important
    margin-bottom  .1em !important

.meta .ui.button
    margin  .2em !important

.user_tag, .doc_tag  
    margin  .1em !important

body
    background lightgrey !important
    // background #faf5eb !important //lighter eggshel
    font-size 15px !important
    // line-height 1.5em
    // margin-top 6em

.-autocomplete-container
    margin-top 12px
    
    
.large-text
    font-size large
    line-height 140%


.middle-align
    vertical-align middle !important

body    
    font-family 'Ubuntu', sans-serif
    