template(name='subscription')
    .ui.container
        +billing


template(name='billing')
    .ui.container
        .ui.header Billing
        #checkout.ui.button Launch Checkout
        
        +plans