template(name='course_dashboard')
    .ui.container
        h2.ui.center.aligned.header Dashboard
        .ui.two.centered.stackable.cards
            a.ui.raised.card(href='/course/sol/welcome')
                .content
                    .center.aligned.header 
                        +icon48 name="front-gate-open"
                        |Welcome
                    .description
                        .ui.list
                            .ui.basic.label 
                                |#{course_progress_doc.welcome_count}
                            |/
                            .ui.basic.label 3
                            |Completed
                            // .item Welcome Video
                            // .item Terms of Agreement
                            // .item SOL Inspiration

            if has_agreed  
                a.ui.raised.card(href='/course/sol/modules')
                    .content
                        .center.aligned.header
                            +icon48 name="questionnaire"
                            |Modules
                        .description
                            .ui.basic.label #{course_progress_doc.module_complete_count}
                            |/
                            .ui.basic.label #{course_progress_doc.sol_module_count}
                            |Completed
                            .ui.list
                                .item Current Module: #{course_progress_doc.current_module}
    
                a.ui.raised.card(href='/course/sol/members')
                    .content
                        .center.aligned.header 
                            +icon48 name="people"
                            |Members
                        // .description
                        //     .ui.list
                        //         .item Welcome Video
                        //         .item Terms of Agreement
                        //         .item SOL Inspiration
                a.ui.raised.card(href='/course/sol/stats')
                    .content
                        .center.aligned.header
                            +icon48 name="combo-chart"
                            |Stats
                        // .description
                        //     .ui.list
                        //         .item Welcome Video
                        //         .item Terms of Agreement
                        //         .item SOL Inspiration
                a.ui.raised.card(href='/course/sol/pins')
                    .content
                        .center.aligned.header
                            +icon48 name="push-pin" classes='avatar'
                            | Pins
                        // .description
                        //     .ui.list
                        //         .item Welcome Video
                        //         .item Terms of Agreement
                        //         .item SOL Inspiration
            else
                .ui.raised.card
                    .content
                        .ui.grey.header
                            +icon48 name="questionnaire" classes='avatar'
                            |Modules
                        .description
                            .ui.list
                                .item Please agree to SOL Terms
    
                .ui.raised.card
                    .content
                        .ui.grey.header 
                            +icon48 name="people" classes='avatar'
                            |Members
                        .description
                            .ui.list
                                .item Please agree to SOL Terms
                .ui.disabled.card
                    .content
                        .ui.grey.header
                            +icon48 name="combo-chart"
                            |Stats
                        .description
                            .ui.list
                                .item Please agree to SOL Terms
