template(name='dashboard')
    .ui.container
        .ui.stackable.centered.five.column.grid
            .column
                a.ui.icon.center.aligned.header(href='/people')
                    i.icon
                        +icon96 name='people'
                    |Community
            .column    
                a.ui.icon.center.aligned.header(href='/conversations')
                    i.icon
                        +icon96 name='chat'
                    |Conversations
            // .column    
            //     a.ui.icon.center.aligned.header(href='/bugs')
            //         i.icon
            //             +icon96 name='bug'
            //         | Bugs
            .column    
                a.ui.icon.center.aligned.header(href='/view/FajD7PCmWS6nRkiYj' class="{{isActivePath '/view/FajD7PCmWS6nRkiYj'}}" data-position="bottom center" data-content="Lightbank") 
                    i.icon
                        +icon96 name='summer'
                    |Lightbank
            .column    
                a.ui.icon.center.aligned.header(href='/view/TadR2ThwgenSrTMHm') 
                    i.icon
                        +icon96 name='journal'
                    |Journal
            .column    
                a.ui.icon.center.aligned.header(href='/view/jFGwEzNgajnMad2MA' data-position="bottom center" data-content="Check In") 
                    i.icon
                        +icon96 name='sprout'
                    |Check In
            .column    
                a.ui.icon.center.aligned.header(href="/profile/#{currentUser.username}/account")
                    i.icon
                        +icon96 name='settings'
                    |Settings
            .column    
                a#logout.ui.icon.center.aligned.header(href='#')
                    i.icon
                        +icon96 name='burglary'
                    | Sign Out