// template(name='about')
//     +view_page name='about'

// template(name='faq')
//     +view_page name='faq'

template(name='terms-of-use')
    +view_page name='terms-of-use'

template(name='privacy')
    +view_page name='privacy'
    
    
template(name='pages')
    .ui.container
        #add_page.ui.basic.button
            i.plus.icon
            | Add Page
    .ui.four.centered.cards
        each pages
            .ui.card
                .content
                    .ui.header #{name}
                .content
                    a.ui.basic.button(href="/page/view/#{_id}") View
                    a.ui.basic.button(href="/page/edit/#{_id}") Edit