.ui.container.grid
    .row
        h1.ui.center.aligned.header Courses
    .row
        .ui.list
            a.item(href='/courses/sol') 
                .ui.header Source of Light
                .ui.button Buy Course $100