template(name='courses')
    .ui.container.grid
        .row
            h1.ui.center.aligned.header Courses
        .row
            .five.wide.column
                #add_course.ui.basic.fluid.button
                    i.red.configure.icon
                    |Add Course
            .ten.wide.column
                .ui.divided.items
                    each courses
                        +course

template(name='course')
    .item
        // .image
        //     img(src='/images/wireframe/image.png')
        .content
            .header #{title}
            // .extra
            //     if in_course
            //         a.ui.right.floated.primary.button(href="/courses/#{_id}")
            //             |View Course
            //             i.right.chevron.icon
            //     else
            //         #buy_sol.ui.right.floated.primary.button
            //             |Buy Course $100
            //             i.right.chevron.icon