template(name='assessment')
    .ui.container
        +cloud type='assessment_question'
        if isInRole 'admin'
            #add_assessment_question.ui.basic.button 
                i.red.configure.icon
                |Add Assessment Question
        .ui.horizontal.divider.header Unpublished Questions
        .ui.stackable.cards
            each unpublished_questions
                +assessment_question
        .ui.horizontal.divider.header Questions
        .ui.stackable.cards
            each relationship_questions
                +assessment_question
        .ui.horizontal.divider.header Physical Questions
        .ui.stackable.cards
            each physical_questions
                +assessment_question
        .ui.horizontal.divider.header Business Questions
        .ui.stackable.cards
            each business_questions
                +assessment_question
        .ui.horizontal.divider.header Financial Questions
        .ui.stackable.cards
            each financial_questions
                +assessment_question
        .ui.horizontal.divider.header Spiritual Questions
        .ui.stackable.cards
            each spiritual_questions
                +assessment_question
        .ui.horizontal.divider.header Mental Questions
        .ui.stackable.cards
            each mental_questions
                +assessment_question
        .ui.horizontal.divider.header Lifestyle Questions
        .ui.stackable.cards
            each lifestyle_questions
                +assessment_question

template(name='assessment_question')
    .ui.card
        .content
            unless is_editing
                h2.ui.center.aligned.header #{title}
                +rating
            else
                .ui.form
                    +title
                    +tags
                    +delete
                    +published
            if isInRole 'admin' 
                +edit_this_button