template(name='assessment')
    .ui.container
        +cloud type='assessment_question'
        if isInRole 'admin'
            #add_assessment_question.ui.basic.button 
                i.red.configure.icon
                |Add Assessment Question
        .ui.horizontal.divider.header Unpublished Questions
        .ui.stackable.cards
            each unpublished_questions
                +assessment_question
        .ui.horizontal.divider.header Questions
        .ui.stackable.cards
            each published_questions
                +assessment_question

template(name='assessment_question')
    .ui.card
        .content
            unless is_editing
                h2.ui.center.aligned.header #{title}
                .ui.basic.center.aligned.compact.segment
                    +rating
                .ui.divider
                each tags
                    .ui.basic.teal.label #{this}
            else
                .ui.form
                    +title
                    +tags
                    +delete_button
                    +published
            if isInRole 'admin' 
                +edit_this_button