template(name='favorites_card')
    .ui.segment
        .ui.header 
            i.heart.outline.icon
            |Favorites
        .ui.divided.relaxed.list
            each my_favorites
                .item 
                    a(href="/view/#{_id}") #{title}
                    

template(name='favorite_button')
    .ui.segment
        i.heart.big.link.icon.favorite_item(class=favorite_item_class)
        if favorite_count
            | Favorite Count: #{favorite_count}
