template(name='my_check_ins')
    // .ui.container
    .ui.stackable.grid
        .centered.row
            .three.wide.column
                #create_checkin.ui.basic.circular.small.button 
                    +icon48 name='plus' classes='ui avatar image'
                    |Check In
            .eight.wide.column
                h1.ui.center.aligned.header
                    +icon96 name='data-quality'
                    | My Check-Ins
            .four.wide.column
                a.ui.basic.circular.small.button(href='/checkins/browse') 
                    +icon48 name='cloud-checked' classes='ui avatar image'
                    |Browse Public Check-Ins
                    +icon48 name='rotate-left' classes='ui avatar image'
        .row
            .four.wide.column
                +theme_facet type='checkin'
                +location_facet type='checkin'
                +timestamp_facet type='checkin'
            
            .eight.wide.column
                .ui.relaxed.divided.items
                    each my_check_ins
                        +my_check_in_view
            .four.wide.column
                +doc_limit
        



template(name='my_check_in_view')
    .ui.segment.document_container(class=checkin_card_class)
        .content
            .description
                +view_tags
                .ui.basic.segment.large
                    |!{content} 
                |#{when}
                // .ui.divider
        .content
            +edit_link_button
            +published
            +view_full_button