template(name='public_journal')
    with user
        +tag_filter type='journal' author_id=user._id
        .ui.dividing.header
            if is_user
                |My Public Journal Reponses
            else
                | Public Journal Responses
        .ui.centered.cards
            each public_journal_entries
                +journal_doc_view