template(name='public_journal')
    with user
        if public_journal_entries.count
            +theme_tag_filter type='journal' author_id=user._id
            .ui.dividing.header
                if is_user
                    |My Public Journal Reponses
                else
                    | Public Journal Responses
            .ui.centered.cards
                each public_journal_entries
                    +journal_doc_view
        else
            h4.ui.header #{name} doesn't have any public journal entries.
            .ui.teal.labeled.icon.button
                i.edit.icon
                |View Journal Section