.ui.basic.segment.container
    with user
        h1.ui.center.aligned.header Edit #{username} Profile
        .ui.large.form
            .ui.stackable.grid
                .five.wide.column    
                    .field
                        if profile.image_id
                            label Image
                            .ui.centered.image
                                img.ui.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
                                a#remove_photo.ui.right.corner.link.label
                                    i.remove.red.link.icon
                        else
                            label Add Profile Image
                            input(type='file' name='upload_picture' accept='image/*')
                .ten.wide.column    
                    .field
                        label Email
                        each emails
                            .ui.basic.label #{address}
                            if verified
                                .ui.basic.green.label Verified
                            else
                                .ui.basic.label Unverified
                    .field
                        label Tags
                        each tags
                            .ui.basic.circular.button.person_tag
                                i.minus.icon
                                |#{this}
                        .ui.left.icon.input
                            i.add.icon
                            input#add_tag(type='text' placeholder='Press enter after each tag' maxlength='50')
        .field
                .ui.center.aligned.basic.segment
                    #save_profile.ui.center.aligned.huge.blue.button
                        |Save
