template(name='profile_badges')
    h1.ui.center.aligned.header 
        img.ui.avatar.image(src="https://png.icons8.com/police-badge/color/48" width="48" height="48")
        // i.huge.icons
        //     i.large.thin.sun.green.icon
        //     i.green.icon
        //         |3
        |Badges
    +doc_content tags='profile,badges,blurb'
    #add_badge.ui.button Add Badge
    .ui.cards
        each badges
            .ui.card(class=badge_class)
                .content
                    .header #{title}
                    i.huge.icon(class=icon_label)
                    .extra
                        .enable.ui.button Enable
                        .disable.ui.button Disable