template(name='view_goalgrid')
    .ui.header Goal Grid
    .ui.button new session
    
    .ui.celled.table
        thead
            tr
                th Activity
                th M
                th T
                th W
                th Th
                th F
                th Sat
                th Sun
                th Achieved
                th Goal
                th Net
                th Reward/Reason Why
        tbody
            each goals
                tr
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td