template(name='edit_section')
    +title
    .ui.hidden.divider
    +number
    .ui.hidden.divider
    if lightwork
        #unmake_lightwork.ui.basic.icon.green.button
            i.toggle.on.icon
    else
        #make_lightwork.ui.basic.icon.button
            i.toggle.off.icon
    if lightwork
        .ui.basic.label is Lightwork
    else
        .ui.basic.label is not Lightwork
    .ui.hidden.divider
    +content
    +section_transcript this
    +questions
    .remove_section.ui.small.red.button Remove Section



template(name='section_transcript')
    .field
        label Transcript
        .transcript
            +froalaReactive transcript
