template(name='course_dashboard')
    .ui.container
        h2.ui.center.aligned.header Dashboard
        .ui.two.centered.stackable.cards
            a.ui.card(href='/courses/sol/welcome')
                .content
                    .header 
                        i.smile.icon
                        |Welcome
                    .description
                        .ui.list
                            .item Welcome Video
                            .item Terms of Agreement
                            .item SOL Inspiration
                            
            a.ui.card(href='/course/sol/modules')
                .content
                    .header
                        i.users.icon
                        |Modules
                    .description
                        .ui.list
                            .item Welcome Video
                            .item Terms of Agreement
                            .item SOL Inspiration

            a.ui.card(href='/courses/sol/members')
                .content
                    .header 
                        i.users.icon
                        |Members
                    .description
                        .ui.list
                            .item Welcome Video
                            .item Terms of Agreement
                            .item SOL Inspiration
            a.ui.card(href='/courses/sol/stats')
                .content
                    .header
                        i.line.chart.icon
                        |Stats
                    .description
                        .ui.list
                            .item Welcome Video
                            .item Terms of Agreement
                            .item SOL Inspiration