template(name='courses')
    .ui.text.container
        h1.ui.center.aligned.header Courses
        .ui.two.item.teal.menu
            a#set_mode_to_all.item(class=all_item_class) All
            a#set_mode_to_mine.item(class=mine_item_class) My Courses
        +doc_content tags='courses,page,blurb' classes='ui center aligned header'
        // h4.ui.center.aligned.header I design courses online to spread light farther than the eye can see. People all around the world are looking for hope, inspiration, and guidance in their personal and professional lives. Explore the courses below to see what best fits your needs.
        .ui.hidden.divider
        .ui.divided.items
            .item
                .image
                    a(href="/course/sol") 
                        +doc_image tags='course,sol'
                        // img.ui.image(src="{{c.url 'sol' }}")
                .content
                    a.header(href="/course/sol") 
                        +doc_title tags='course,sol' classes='header'    
                        // +doc_subtitle tags='course,sol'
                        // if in_course
                        //     .ui.basic.green.label Enrolled
                    .description
                        +doc_subtitle tags='course,sol'
                    a.ui.right.floated.teal.button(href="/course/sol") 
                        |View
                        i.right.chevron.icon
