template(name='course_sales')
    .ui.text.container
        if isInRole 'admin'
            a.ui.basic.button(href="/course/sol/welcome")
                i.red.configure.icon
                |#{title} Admin
        // if image_id
        //     img.ui.centered.image(src="{{c.url image_id }}")
        +doc_image tags='course,sol' classes='ui centered image'
        +doc_subtitle tags='course,sol' classes='ui center aligned header'
        +doc_content tags='sol,sales' classes=''
        
        .ui.centered.stackable.grid
            .four.wide.column
                a.ui.teal.button(href='http://toriwebster.us11.list-manage.com/subscribe?u=8973e01aca6da499e7e1a63bd&id=9204d04e30')
                    |Sign Up for the SOL Newsletter
            .four.wide.column
                if in_demo
                    .ui.disabled.teal.button Signed Up for Demo
                    // if isInRole 'admin'
                    //     #unenroll.ui.red.basic.button Unenroll from demo
                else
                    #sign_up_demo.ui.teal.button
                        |Sign Up for the Demo
                    // span Demo available Monday, May 1
                    
            .four.wide.column
                with sol_course
                    +add_to_cart
