template(name='footer')
    .ui.fluid.basic.footer.segment
        .ui.divider
        .ui.container.stackable.grid
            .eight.wide.column
                .ui.center.aligned.very.padded.basic.segment
                    h4.ui.header Have we connected on social media?
                    a(href='https://twitter.com/_toriwebster' target='_blank')
                        i.big.twitter.link.teal.icon
                    a(href='https://www.snapchat.com/add/tw3bsta' target='_blank')
                        i.big.snapchat.link.teal.icon
                    a(href='https://www.instagram.com/_toriwebster/' target='_blank')
                        i.big.instagram.link.teal.icon
                    a(href='https://www.facebook.com/toriwebsterinspires/' target='_blank')
                        i.big.facebook.link.teal.icon
                    a(href='https://www.youtube.com/channel/UC6X_HA8gs0yQy0xAWrhi1zw/' target='_blank')
                        i.big.youtube.link.teal.icon
                // .ui.list
                //     a.item(href='/contact') Contact
                //     a.item(href='/terms-of-use') Terms of Use

            .eight.wide.column
                +mailchimp
                    
        .row
            h4.ui.center.aligned.header
                i.fitted.copyright.icon
                |Tori Webster Inspires LLC
        .ui.hidden.divider