template(name='member_dashboard')
    .ui.container
        .ui.center.aligned.header #{currentUser.username}'s Dashboard
        .ui.stackable.grid
            .eight.wide.column
                +me_card
                +my_courses
                +my_tests
                +my_excercises
            .eight.wide.column
                +my_friends
                +favorites
                
