template(name='dashboard')
    h1.ui.center.aligned.header Dashboard
    .ui.stackable.container.grid
        .four.wide.column
            +profile_card
        .ten.wide.column    
        .four.wide.column
            +favorites_card
            
template(name='profile_card')
    with currentUser
        .ui.fluid.segment
            .ui.small.circular.centered.fluid.image
                img.ui.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
            .ui.center.aligned.header #{name}
            .ui.center.aligned.header #{username}
            .ui.mini.three.statistics
                .statistic
                    .value 5
                    .label Posts
                // .statistic
                //     .value 5
                //     .label Comments
                .statistic
                    .value 5
                    .label Points
                    
