template(name='profile_contact')
    h1.ui.center.aligned.header 
        img.ui.image(src="https://png.icons8.com/phone/color/96" width="96" height="96")
        |Contact
    if conversation_with_user
        with conversation_with_user
            +conversation_messages_pane
    else
        if currentUser
            #create_conversation_with_user.ui.teal.button 
                i.plus.icon
                |Start Conversation with #{user.profile.first_name}
        else
            a.ui.disabled.teal.button(href='/sign-in')
                i.plus.icon
                |Sign in to contact #{user.profile.first_name}
        