template(name='profile_contact')
    .ui.horizontal.divider.header 
        i.phone.icon
        |Contact
    if conversation_with_user
        with conversation_with_user
            +conversation_messages_pane
    else
        #create_conversation_with_user.ui.teal.button 
            i.plus.icon
            |Start Conversation with #{user.profile.first_name}