template(name='stats')
    .ui.stackable.padded.grid
        .centered.row
            .four.wide.column
                h2.ui.header
                    +icon48 name='diamond' classes='ui inline image'
                    |#{currentUser.points}
            .eight.wide.column
                h1.ui.center.aligned.header 
                    +icon96 name='combo-chart'
                    | Stats
            .four.wide.column
                a.ui.basic.circular.small.button(href='/shop') 
                    +icon48 name='shop' classes='ui mini spaced image'
                    | Shop
                    // +icon48 name='rotate-left' classes='ui mini spaced image'
                // a.ui.basic.circular.small.button(href='/transactions') 
                //     +icon48 name='handshake' classes='ui mini spaced image'
                //     | Transactions
                //     +icon48 name='rotate-left' classes='ui mini spaced image'
        .row
            .four.wide.column
                // .ui.dividing.header Actions
                // a.ui.basic.fluid.button(href="/stats/send")
                //     i.send.icon
                //     |Send stats
                // .ui.dividing.header Sharing
                // .ui.slider.checkbox
                //     input#share_stats(type='checkbox' checked=currentUser.profile.share.stats)
                //     label(for='share_bookmarks') Share Stats in Profile
                +people_cloud

            .four.wide.column
                +leaderboard
            .four.wide.column
                +journal_stats