template(name='view_stats')
    .ui.stackable.padded.grid
        .centered.row
            .four.wide.center.aligned.column
                +parent_link
            .eight.wide.center.aligned.column
                h1.ui.center.aligned.header 
                    +icon96 name='combo-chart'
                    | Stats
            .four.wide.center.aligned.column
                // a.ui.basic.circular.small.button(href='/shop') 
                //     +icon48 name='shop' classes='ui mini spaced image'
                //     | Shop
                    // +icon48 name='rotate-left' classes='ui mini spaced image'
                // a.ui.basic.circular.small.button(href='/transactions') 
                //     +icon48 name='handshake' classes='ui mini spaced image'
                //     | Transactions
                //     +icon48 name='rotate-left' classes='ui mini spaced image'
        .row
            .four.wide.column
                // .ui.dividing.header Actions
                // a.ui.basic.fluid.button(href="/stats/send")
                //     i.send.icon
                //     |Send stats
                // .ui.dividing.header Sharing
                // .ui.slider.checkbox
                //     input#share_stats(type='checkbox' checked=currentUser.profile.share.stats)
                //     label(for='share_bookmarks') Share Stats in Profile
                +people_cloud

            .four.wide.column.shadowed.padded10
                +leaderboard
            .four.wide.column.shadowed.padded10
                +journal_stats
            .four.wide.column.shadowed.padded10
                +check_in_stats