template(name='my_journal')
    .ui.stackable.padded.grid
        .centered.row
            .four.wide.column
                #create_checkin.ui.basic.circular.small.button 
                    +icon48 name='add-rule' classes='ui mini inline image'
                    |Add Entry
            .nine.wide.column
                h1.ui.center.aligned.header
                    +icon96 name='journal' classes='ui mini inline image'
                    | My Journal Entries
            .three.wide.column
                a.ui.basic.circular.small.button(href='/journal/browse') 
                    +icon48 name='reading' classes='ui mini inline image'
                    |Browse Entries
                    // +icon48 name='rotate-left' classes='ui mini inline image'
        .row
            .four.wide.column
                +tag_facet type='journal'
                +location_facet type='journal'
                +intention_facet type='journal'
                +timestamp_facet type='journal'
            .twelve.wide.column
                each journal_entries
                    +my_entry_card
        



template(name='my_entry_card')
    .ui.fluid.card(class=journal_segment_class)
        if parent_id
            .content
                +parent_doc_segment
        .content
            if is_published
                .ui.top.right.attached.basic.label(data-tooltip='Published')
                    +icon48 name='visible'
            else if is_anonymous
                .ui.top.right.attached.basic.label(data-tooltip='Published Anonymously')
                    +icon48 name='anonymous-mask'
            else
                .ui.top.right.attached.basic.label(data-tooltip='Private')
                    +icon48 name='invisible'
            .large130 !{content}
            // +icon24 name='clock' classes='ui mini inline image'
        .content
            strong written #{when}
        .content
            +view_tags
            +published
            .right.floated
                +view_full_button
        .content
            .ui.basic.segment
                if watson
                    +doc_sentiment
                    +doc_emotion
                else
                    +call_watson