.ui.borderless.stackable.menu
    .ui.text.container
        a.item(href='/account/dashboard' class="{{isActivePath '/account/dashboard'}}")
            | Dashboard
        // a.item(href='/account/subscription' class="{{isActivePath '/subscription'}}") 
        //     | Subscription
        a.item(href='/account/history' class="{{isActivePath '/account/history'}}") 
            | History
        // a.item(href='/account/rewards' class="{{isActivePath '/account/rewards'}}")
        //     | Rewards
        a.item(href="/account/profile/edit/#{currentUser._id}" class="{{isActivePath '/account/profile/edit/#{currentUser._id}'}}")
            | Profile