template(name='child_docs')
    .ui.styled.accordion
        .title Child Documents
        .content
            .ui.cards
                each child_docs
                    .card
                        .content
                            .header
                                if title
                                    |#{title}
                            .description
                                .meta
                                    each tags
                                        .ui.basic.label #{this}