template(name='doc_limit')
    .ui.header 
        +icon48 name='pull-down'
        |Result Amount
    .ui.circular.buttons
        #make_5.ui.button(class=limit_5_class) 5
        #make_10.ui.button(class=limit_10_class) 10
        #make_20.ui.button(class=limit_20_class) 20
        // .ui.button