template(name='request_tori_feedback')
    .ui.dividing.header 
        +icon48 name='feedback' classes='ui mini inline image'
        |Request Tori's Feedback
    if feedback_requested
        +icon48 name='dat-pending' classes='ui mini inline image'
        strong Request Pending 
        #cancel_request.ui.basic.icon.circular.button(data-tooltip='Cancel Request')
            +icon48 name='cancel' classes='ui mini inline image'
    else
        #request_feedback.ui.fluid.basic.circular.button
            +icon48 name='submit-progress' classes='ui mini inline image'
            if label
                |#{label}
            else
                | Request Tori's Feedback
            
                
