if tags
    a.ui.fluid.basic.circular.button(href="/view/#{_id}" data-position='bottom center' data-tooltip='Save')
        +icon48 name='checkmark' classes='ui mini inline image'
else
    .ui.fluid.basic.disabled.circular.button Add Tags to Save
