template(name='checkin_view')
    a.ui.basic.button(href='/checkin')
        i.left.chevron.icon
        strong Check In's
    with doc
        .ui.container
            h1.ui.center.aligned.header View Check In
            .ui.stackable.grid
                .ten.wide.column
                    |!{content}
                    if published
                        +comments
                    +doc_matches
                    if watson
                        +analyzed_watson_keywords
                .five.wide.column
                    .ui.dividing.header Tags
                    each tags
                        .ui.basic.large.label.doc_tag #{this}
                    .ui.dividing.header Actions
                    +bookmark_button
                    div
                        +thanks_button
                    +resonate_button
                    +resonates_list
                    if watson
                        +doc_sentiment
                        +doc_emotion
                        +watson_keywords
                    +published
                    .ui.header by #{author.name}
                    .ui.divider
                    if is_author
                        a.ui.basic.button(href="/journal/#{_id}/edit") 
                            i.pencil.icon
                            |Edit
