template(name='edit_checkin')
    .ui.container
        h1.ui.center.aligned.header Add/Edit Check In
        .ui.stackable.grid
            .twelve.wide.column
                .ui.form
                    +tags
                    +content
                    if watson 
                        +analyzed_watson_keywords

            .four.wide.column
                if tags
                    a.ui.fluid.green.big.button(href="/view/#{_id}")
                        |Save
                else
                    .ui.fluid.green.big.disabled.button Add Tags to Save
                .ui.hidden.fitted.divider
                #delete_doc.ui.small.fluid.red.compact.button 
                    |Delete
                +published
                +request_tori_feedback
                .ui.basic.segment
                    .ui.dividing.header Analysis
                    +call_watson
                    if watson
                        +doc_sentiment
                        +doc_emotion
                        +watson_keywords

                .ui.divider
