template(name='profile')
    .ui.stackable.padded.grid
        .four.wide.column
            a.ui.circular.basic.center.aligned.button(href='/')
                +icon48 name='yin-yang'
            with person
                // img.ui.small.centered.rounded.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
                .ui.center.aligned.header
                    |(#{username})
                    unless is_user
                        +staus_indicator
                if is_user
                    a.ui.basic.fluid.large.circular.button(href="/account/profile/edit/#{_id}") 
                        i.yellow.pencil.icon
                        |Edit
            if is_person_by_username
                a#logout.ui.basic.button(href="#" data-position="bottom center" data-content="Log Out")
                    i.icon
                        +icon24 name='exit'
                    |Log Out
        .ten.wide.column
            +account