template(name='collaboration')
    +questions


template(name='questions')
    .ui.action.fluid.input
        input#new_question(type='text')
        #add_question.ui.basic.button 
            i.red.configure.icon
            |Add Question
    .ui.divided.segments
        each questions
            +question

        


template(name='question')
    .ui.segment
        h4.ui.header 
            |Question: #{text}
            if can_edit
                i.remove_question.red.big.link.remove.icon
        .ui.action.fluid.input
            input#answer(type='text')
            #add_answer.ui.basic.button Add Answer
        .ui.segments
            each answers
                .ui.segment 
                    .ui.header #{text}
                    | by {{author.name}}
                    if can_edit
                        i.remove_answer.red.big.link.remove.icon
                    +voting