template(name='account')
    .ui.container
        h1.ui.center.aligned.header 
            +icon96 name='setting' classes='ui inline image'
            |Account
        |{{> atForm state='changePwd'}}
        h2.ui.header 
            +icon48 name='email' classes='ui mini inline image'
            |Email(s)
        .ui.segment
            .ui.divided.list
                each currentUser.emails
                    .item 
                        // unless verified
                        //     .right.floated.content
                        //         .ui.basic.button Verify
                        .content
                            |#{address}
                            if verified
                                .ui.green.basic.label Verified
                            else
                                .ui.basic.label Unverified
                                .send_verification_email.ui.basic.button Verify
            .ui.action.fluid.input
                input#new_email(type='email')
                #add_email.ui.submit.blue.button Add Email Address
        h2.ui.header 
            +icon48 name='rename' classes='ui mini inline image'
            |Change Username 
        .ui.segment
            .ui.header Current: #{currentUser.username}
            .ui.action.fluid.input
                input#username(type='text')
                #change_username.ui.submit.blue.button Submit
            