template(name='university')
    .ui.container
        h1.ui.dividing.header Inspire U
        +courses
        +excercises
        +tests
    
    
template(name='excercises')
    .ui.container
        h1.ui.dividing.header Excercises
        a.item(href='/values') Values Card Game

    
template(name='inspire_u_nav')
    .ui.borderless.menu
        .ui.container
            .imogen Inspire U
            a.item(href='/iu/courses' class="{{isActivePath '/iu/courses'}}")
                |Courses
            a.item(href='/iu/excercises' class="{{isActivePath '/iu/excercises'}}")
                |Excercises
            a.item(href='/tests' class="{{isActivePath '/tests'}}")
                |Tests
