.ui.container
    h1.ui.center.aligned.header Book Motherfucking Tori Webster!
    .ui.grid
        .eight.wide.column
            h2.ui.header Motherfucking Availability!
        .eight.wide.column
            h2.ui.header Book this Bitch!