
template(name='modules')
    .ui.container
        div
            #add_module.ui.basic.button
                i.plus.icon
                | Add Module
        .ui.divided.items
            each modules
                +module_item

        


template(name='module_item')
    .ui.item
        .image
            a(href="/view_module/#{_id}")
                .image
                    img.ui.large.image(src="{{c.url image_id }}")
        .content
            a(href="/view_module/#{_id}")
                h1.ui.header #{title}
                
            .description
                |!{description}
            .extra.content
                if complete
                    .ui.teal.label 
                        i.check.icon
                        |Complete
                else
                    .ui.teal.basic.label 
                        // i.check.icon
                        |Incomplete
