template(name='dashboard')
    .ui.container
        h2.ui.center.aligned.header Dashboard
        .ui.two.centered.stackable.cards
            a#courses.ui.card
                .content
                    .header 
                        i.university.icon
                        |My Courses
            if isInRole 'admin'
                a.ui.card(href='/tests')
                    .content
                        .header
                            i.red.configure.icon
                            i.edit.icon
                            |My Tests
            a.ui.card(href='/transactions')
                .content
                    .header
                        i.exchange.icon
                        |Transactions
            a.ui.card(href='/people')
                .content
                    .header
                        i.users.icon
                        |My Friends
            a#lightbank.ui.card
                .content
                    .header 
                        i.sun.icon
                        |My Light Bank
            if isInRole 'beta'
                a.ui.card(href='/support')
                    .content
                        .header
                            i.red.configure.icon
                            i.help.icon
                            |Support
            if isInRole 'beta'
                a.ui.card(href='/messages')
                    .content
                        .header
                            i.red.configure.icon
                            i.mail.icon
                            |Messages
            if isInRole 'beta'
                a.ui.card(href='/checkin')
                    .content
                        .header
                            i.red.configure.icon
                            i.lightning.icon
                            |Check In
            // a.ui.card(href='/account')
            //     .content
            //         .header
            //             i.setting.icon
            //             |Account Preferences
            // +me_card
            // +my_courses
            // +my_tests
            // +my_purchases
            // +my_friends
            // +favorites
            
