template(name='dashboard')
    .ui.container
        h2.ui.center.aligned.header Dashboard
        .ui.two.centered.stackable.cards
            a#courses.ui.card
                .content
                    .header 
                        i.university.icon
                        |My Courses
            a.ui.card(href='/people')
                .content
                    .header
                        i.users.icon
                        |My Friends
            a#lightbank.ui.card
                .content
                    .header 
                        i.sun.icon
                        |My Light Bank
            a.ui.card(href='/quizes')
                .content
                    .header
                        i.edit.icon
                        |My Quizes
            a.ui.card(href='/bookmarks')
                .content
                    .header
                        i.bookmark.icon
                        |My Bookmarks
            a.ui.card(href='/account')
                .content
                    .header
                        i.setting.icon
                        |Account Settings
                        
        if isInRole 'dev'
            .ui.segment
                .ui.header 
                    i.red.configure.icon
                    |Dev
                .ui.two.centered.stackable.cards
                    a.ui.card(href='/notifications')
                        .content
                            .header
                                i.alarm.outline.icon
                                | Notifications
                    a.ui.card(href='/transactions')
                        .content
                            .header
                                i.exchange.icon
                                |Transactions
                    a.ui.card(href='/support')
                        .content
                            .header
                                i.help.circle.icon
                                |Support
                    a.ui.card(href='/messages')
                        .content
                            .header
                                i.mail.icon
                                |Messages
                    a.ui.card(href='/journal')
                        .content
                            .header
                                i.write.square.icon
                                |My Journal
                    a.ui.card(href='/checkin')
                        .content
                            .header
                                i.checkmark.icon
                                |Check In
            // +me_card
            // +my_courses
            // +my_quizes
            // +my_purchases
            // +my_friends
            // +favorites
            
