with product
    .ui.container
        .ui.center.aligned.header Edit #{title}
        +title
        .ui.compact.hidden.divider
        +image
        .ui.compact.hidden.divider
        +content
        .ui.compact.hidden.divider
        // +tags
        // .ui.compact.hidden.divider
        +price
        .ui.compact.hidden.divider
        +published
        .ui.compact.hidden.divider
        .ui.basic.center.aligned.segment
            #save_product.ui.green.big.button 
                |Save #{title}
            +delete_button
