template(name='edit_product')
    .ui.padded.stackable.grid
        .centered.row
            .two.wide.column
                +save_button
            .ten.wide.column
                h1.ui.center.aligned.header Edit #{title} Product
            .two.wide.column
                #delete_doc.ui.small.fluid.red.button Delete
        .row
            .eleven.wide.column
                .ui.form
                    +edit_title
                    +edit_tags
                    +edit_content
                    +edit_image_url
            .five.wide.column
                +point_price
                +edit_quantity
                +published
                if isInRole 'admin'
                    +edit_author
