template(name='edit_product')
    .ui.padded.stackable.grid
        .centered.row
            .ten.wide.column
                h1.ui.center.aligned.header Edit #{title} Product
        .row
            .eleven.wide.column
                .ui.form
                    +title
                    +tags
                    +content
                    +edit_image
            .five.wide.column
                if tags
                    a.ui.fluid.green.big.button(href="/view/#{_id}") Save Product
                else
                    .ui.fluid.green.big.disabled.button
                        | Add Tags to Save
                #delete_doc.ui.small.fluid.red.button Delete
                .ui.divider
                +point_price
                +edit_quantity
                +published
                if isInRole 'admin'
                    +edit_author
