template(name='favorites')
    .ui.dividing.header My Favorites
    .ui.divided.vertical.list
        each favorites
            .item
                a(href="/view/#{_id}") #{title} 
                each tags
                    .ui.small.basic.label #{this}
                +favorite
        