template(name='dev_footer')
    .ui.inverted.segment
        .ui.horizontal.dividing.header 
            |DEV
            a(href='/view/3qLXqhMDmxxZvh3tA') tasks

        with doc
            if parent_id
                .ui.segment
                    a.ui.header(href="/view/#{doc.parent_id}") 
                        +icon48 name=parent.icon_class
                        |Parent: #{parent.title}
            +edit_text_field key='title'
            +edit_text_field key='type'
            +edit_text_field key='template'
            // +edit_icon
            // +edit_number
            +edit_array_field key='tags' icon='hashtag'
            // +edit_tags
            +published
            // +edit_completion_type
            #create_child.ui.button create child
            unless parent_id
                #create_parent.ui.button create parent
            #move_above_parent.ui.button move above parent
            #toggle_child_docs.ui.button toggle child docs
            // #trickle_down.ui.button run trickle_down
            if show_child_docs
                +child_docs