template(name='dev_footer')
    .ui.inverted.segment
        .ui.horizontal.dividing.header DEV
        with doc
            if parent_id
                .ui.segment
                    a.ui.header(href="/view/#{doc.parent_id}") 
                        +icon48 name=parent.icon_class
                        |Parent: #{parent.title}
            +edit_title
            +edit_type
            +edit_icon
            +edit_tags
        #create_child.ui.button make a fuckin baby
        // +child_docs