template(name='view_facet')
    .ui.container
        h1.ui.center.aligned.header
            .facet_black Facet
        .ui.centered.cards
            each children
                +site_card
    


template(name='view_sites')
    .ui.padded.stackable.grid
        .centered.row
            h1.ui.center.aligned.header 
                +icon48 name=icon_class
                |#{title}
        .row
            .five.wide.column
                +tag_facet
            .ten.wide.column
                .ui.centered.cards
                    each children
                        +site_card
            
