template(name='view_page')
    .ui.container
        .shadowed-box.large130
            |!{content}
        if can_edit
            +edit_button
        
        
template(name='edit_page')
    .ui.container
        +edit_title
        +edit_subtitle
        +edit_number
        +edit_content
        
        
        
        