template(name='view_page')
    .ui.container
        .shadowed-box
            |!{content}
        if can_edit
            +edit_button
        
        
template(name='edit_page')
    .ui.container
        +edit_title
        +edit_number
        +edit_content
        +save_button
        +delete_button
        
        
        
        