template(name='values')
    .ui.container
        if isInRole 'admin'
            #add_value_card.ui.basic.button 
                i.red.configure.icon
                |Add Value Card
        .ui.horizontal.divider.header Available Cards
        .ui.four.cards
            each unvoted_cards
                +value_card
        .ui.horizontal.divider.header Liked Cards
        .ui.four.cards
            each liked_cards
                +value_card
        .ui.horizontal.divider.header Disliked Cards
        .ui.four.cards
            each disliked_cards
                +value_card

template(name='value_card')
    .ui.card
        .content
            unless is_editing
                h2.ui.center.aligned.header #{title}
                h4.ui.center.aligned.header #{subtitle}
                +voting
            else
                .ui.form
                    +title
                    +subtitle
            if isInRole 'admin' 
                +edit_this_button