template(name='home')
    img.ui.fluid.image.go-behind(src="{{c.url 'tori_slider' width='1200' crop='scale' }}")
    .slider-header
        .imogen Tori Webster
    .slider-subheader
        |I’m a lifestyle coach & motivational speaker currently living in Boulder, Colorado. 
    .slider-sub-subheader
        | My goal is to spread light to others to help them navigate their own journey through life.
        
    
