template(name='journal')
    .ui.container
        // .ui.center.aligned.basic.segment
        //     +doc_content tags='journal,blurb'
        .ui.stackable.grid
            .row
                .eight.wide.centered.column
                    #add_journal_entry.ui.large.basic.fluid.big.button 
                        .ui.image
                            +icon48 name='create-document'
                        |New Entry
                    .ui.hidden.divider    
                    a.ui.large.basic.fluid.big.button(href="/journal/mine")
                        .ui.image
                            +icon48 name='journal'
                        |My Entries
                    .ui.hidden.divider    
                    a.ui.large.basic.fluid.big.button(href="/journal/prompts")
                        .ui.image
                            +icon48 name='ask-question'
                        | Prompts
                    .ui.hidden.divider    
                    a.ui.large.basic.fluid.big.disabled.button(href="/journal/templates")
                        .ui.image
                            +icon48 name='template'
                        |Templates
                    .ui.hidden.divider    
                    a.ui.large.basic.fluid.big.button(href="/journal/browse") 
                        .ui.image
                            +icon48 name='reading'
                        |Browse Public Entries
