template(name='journal_responses')
    .ui.segment
        .ui.dividing.header 
            img.ui.avatar.image(src="https://png.icons8.com/response/color/48" width="48" height="48")
            |Public Journal Responses
            .ui.divided.items
                each public_responses
                    .item
                        .content
                            .description
                                |!{content}
                            .meta
                                img.ui.avatar.image(src="https://png.icons8.com/hastag/color/24" width="24" height="24")
                                each tags
                                    .ui.basic.small.label #{this}
                            .meta
                                img.ui.avatar.image(src="{{c.url author.profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                                |#{author.name}
                            .extra
                                if is_author
                                    +edit_link_button
                                else
                                    +thanks_button
        unless my_response
            #write_response.ui.teal.button Write Journal Response
            
            
            