
template(name='view_lightbank')
    a.ui.basic.button(href='/lightbank')
        i.left.chevron.icon
        |Lightbank
    h1.ui.center.aligned.header View Lightbank Entry
    .ui.container
        .ui.stackable.grid
            .ten.wide.column
                if has_youtube
                    if youtube
                        +view_youtube
                if has_image
                    if image_id
                        .ui.large.image
                            img(src="{{c.url image_id width=500 crop='fit'}}")
                    if image_url
                        .ui.fluid.image
                            img(src=image_url)
                if has_content
                    |!{content}
                // if journal_prompt
                +journal_responses
                // +comments    
                // +tag_rating
                if watson
                    +analyzed_watson_keywords
                // +child_docs
            .six.wide.column
                .ui.dividing.header Actions
                +bookmark_button
                +thanks_button
                +reflect_button
                .ui.dividing.header Tags
                each tags
                    .ui.basic.large.label.doc_tag #{this}
                if isInRole 'admin'
                    +call_watson
                if watson
                    +doc_sentiment
                    +doc_emotion
                    +watson_keywords
    
                .ui.dividing.header Resonates
                +resonate_button
                +resonates_list 
                if isInRole 'admin'
                    .ui.dividing.header Admin
                    if published
                        .ui.basic.green.label Published
                    else
                        .ui.basic.label Unpublished
                    .ui.hidden.fitted.divider
                +edit_link_button
                .ui.header by #{author.name}

