
template(name='view_lightbank')
    a.ui.basic.button(href='/lightbank')
        img.ui.avatar.image(src="https://png.icons8.com/double-left/color/48" width="48" height="48")
        |Lightbank
    h1.ui.center.aligned.header View Lightbank Entry
    .ui.container
        .ui.stackable.grid
            .ten.wide.column
                if has_youtube
                    if youtube
                        +view_youtube
                if has_image
                    if image_id
                        .ui.large.image
                            img(src="{{c.url image_id width=500 crop='fit'}}")
                    if image_url
                        .ui.fluid.image
                            img(src=image_url)
                if has_content
                    .large
                        |!{content}
                // if journal_prompt
                +journal_responses
                // +comments    
                // +tag_rating
                if watson
                    +analyzed_watson_keywords
                // +child_docs
            .six.wide.column
                .ui.dividing.header 
                    img.ui.avatar.image(src="https://png.icons8.com/action/color/48" width="48" height="48")
                    |Actions
                +bookmark_button
                +thanks_button
                // +reflect_button
                if isInRole 'admin'
                    +call_watson
                .ui.dividing.header 
                    img.ui.avatar.image(src="https://png.icons8.com/hashtag/color/48" width="48" height="48")
                    |Tags
                each tags
                    .ui.basic.large.label.doc_tag #{this}
                if watson
                    +doc_sentiment
                    +doc_emotion
                    +watson_keywords
    
                .ui.dividing.header Resonates
                +resonate_button
                +resonates_list 
                if isInRole 'admin'
                    .ui.dividing.header 
                        img.ui.avatar.image(src="https://png.icons8.com/monarch/color/48" width="48" height="48")
                        |Admin
                    if published
                        .ui.basic.green.label Published
                    else
                        .ui.basic.label Unpublished
                    .ui.hidden.fitted.divider
                    .ui.header by #{author.name}
                +edit_link_button

