template(name='nav')
    #nav_menu.ui.menu
        a.ui.item(href='/view/9639QAQ4yPbMLs7CA')
            // .imogen TW
            .ui.image
                +icon96 name='yin-yang' classes='ui mini image'
        if isInRole 'admin'
            a#toggle_admin_mode.item(href='#' data-position="bottom center" data-content="Toggle Admin Mode") 
                .ui.image
                    if admin_mode
                        +icon48 name='user-shield' classes='ui mini image'
                    else
                        +dots50 name='user-shield' classes='ui mini image'
            a.item(href='/people')
                .ui.image
                    +icon96 name='people' classes='ui mini image'
            a.item(href='/conversations')
                .ui.image
                    +icon96 name='chat' classes='ui mini image'
        .right.menu
            if currentUser
                a.item(href="/profile/#{currentUser.username}/account")
                    .ui.image
                        +icon96 name='settings' classes='ui mini image'
                a.item(href="/profile/#{currentUser.username}" class="{{isActiveRoute name='view_profile'}}" data-position="bottom center" data-content="Profile")
                    if currentUser.profile.image_id
                        img.ui.avatar.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                    span.mobile.hidden    
                        if currentUser.name
                            | #{currentUser.name}
                        else
                            | #{currentUser.username}
                a#logout.item(href='#')
                    .ui.image
                        +icon96 name='burglary' classes='ui mini image'
            else
                a.ui.item(href='/sign-in') 
                    +icon48 name='signin' classes='ui mini inline spaced image'
                    | Sign In