template(name='nav')
    #nav_menu.ui.top.borderless.attached.large.menu
        a.toggle_sidebar.mobile.only.item
            +icon24 name='menu'
            // .imogen Tori Webster
        if currentUser
            a.ui.mobile.hidden.simple.dropdown.item(href='/')
                .imogen TW
                .ui.menu
                    a.mobile.hidden.item(href='/about' class="{{isActivePath '/about'}}") 
                        i.icon
                            .ui.image
                                +icon24 name='info'
                        |About
                    // a.mobile.hidden.item(href='/services' class="{{isActivePath '/services'}}") 
                    //     i.icon
                    //         .ui.image
                    //             +icon24 name='service-bell'
                    //     |Services
                    a.mobile.hidden.item(href='/contact' class="{{isActivePath '/contact'}}") 
                        i.icon
                            .ui.image
                                +icon24 name='phone'
                        |Contact
        unless currentUser
            a.mobile.hidden.item(href='/' class="{{isActivePath '/'}}")
                .imogen TW
            a.mobile.hidden.item(href='/about' class="{{isActivePath '/about'}}") 
                +icon48 name='info' classes='ui mini spaced image'
                |About
            a.mobile.hidden.item(href='/lightschool' class="{{isActivePath '/lightschool'}}") 
                +icon48 name='library' classes='ui mini spaced image'
                |LightSchool
            a.mobile.hidden.item(href='/lightbank' class="{{isActivePath '/lightbank'}}") 
                +icon48 name='summer' classes='ui mini spaced image'
                |Lightbank
            a.mobile.hidden.item(href='/contact' class="{{isActivePath '/contact'}}") 
                +icon48 name='phone' classes='ui mini spaced image'
                |Contact
        else
            // a.ui.mobile.hidden.simple.dropdown.item(href='/lightschool' ) 
            a.ui.mobile.hidden.item(href='/courses' data-position="bottom center" data-content="LightSchool") 
                .ui.image
                    +icon48 name='library'
                // .ui.large.menu
                //     .header.item
                //         .ui.header LightSchool
                //     a.item(href='/courses' class="{{isActivePath '/courses'}}")
                //         i.icon
                //             .ui.image
                //                 +icon24 name='classroom'
                //         |Courses
                    // a.item(href='/lightschool/exercises' class="{{isActivePath '/lightschool/exercises'}}")
                    //     i.icon
                    //         .ui.image
                    //             +icon24 name='hand-with-pen'
                    //     |Exercises
                    // a.item(href='/quizzes' class="{{isActivePath '/quizzes'}}")
                    //     i.icon
                    //         .ui.image
                    //             +icon24 name='report-card'
                    //     |Quizzes
            a.mobile.hidden.item(href='/lightbank' class="{{isActivePath '/lightbank'}}" data-position="bottom center" data-content="Lightbank") 
                +icon48 name='summer'
            a.ui.simple.dropdown.mobile.hidden.item(href='/journal') 
                +icon48 name='journal'
                .ui.big.menu
                    .header.item
                        .ui.header Journal
                    // #add_journal_entry.ui.item 
                    //     i.icon
                    //         +icon24 name='create-document'
                    //     |New Entry
                    a.ui.item(href="/journal/mine")
                        i.icon
                            .ui.image
                                +icon24 name='journal'
                        | Mine
                    a.ui.item(href="/journal/prompts")
                        i.icon
                            .ui.image
                                +icon24 name='ask-question'
                        | Prompts
                    a.ui.item(href="/journal/templates")
                        i.icon
                            .ui.image
                                +icon24 name='template'
                        | Templates
                    a.ui.item(href="/journal/browse") 
                        i.icon
                            .ui.image
                                +icon24 name='reading'
                        | Browse
    
            a.ui.simple.dropdown.mobile.hidden.item(href='/checkin') 
                +icon48 name='sprout'
                .ui.big.menu
                    .header.item
                        .ui.header Check-Ins
                    a.ui.item(href='/checkins/mine')
                        i.icon
                            +icon24 name='grass' classes='ui image'
                        | Mine
                    a.ui.item(href="/checkins/browse")
                        i.icon
                            +icon24 name='forest' classes='ui image'
                        | Browse
        .right.menu
            if currentUser
                a#report_bug.icon.item(href="#"  data-position="bottom center" data-content="Report a Bug/Feature Request")
                    .ui.image
                        +icon48 name='bug'
                a.icon.item(href="/dashboard" class="{{isActivePath '/dashboard'}}" data-position="bottom center" data-content="Dashboard")
                    .ui.image
                        +icon48 name='dashboard'
                if cart_items
                    a.icon.mobile.hidden.item(href='/cart' class="{{isActivePath '/cart'}}" data-position="bottom center" data-content="Shopping Cart")
                        i.large.icons
                            i.cart.icon
                            i.corner.teal.asterisk.icon
                a.icon.item(href="/profile/#{currentUser.username}" class="{{isActiveRoute name='view_profile'}}" data-position="bottom center" data-content="Profile")
                    if currentUser.profile.image_id
                        img.ui.avatar.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                    span.mobile.hidden    
                        if currentUser.name
                            | #{currentUser.name}
                        else
                            | #{currentUser.username}
                // a#logout.icon.item(href="#" data-position="bottom center" data-content="Log Out")
                //     .ui.image
                //         img(src="https://png.icons8.com/burglary/color/48" width="48" height="48")
                
            else
                a.ui.item(href='/sign-in') 
                    +icon48 name='signin' classes='ui mini inline spaced image'
                    | Sign In
    
    .ui.basic.small.report.modal
        h1.ui.center.aligned.header
            img.bug_icon.ui.avatar.image(src="https://png.icons8.com/bug/color/96" width="96" height="96")
            |     Report Bug/ Feature Request
        h3.ui.center.aligned.header Current Page: #{bug_link}
        .content
            .ui.fluid.input
                input#bug_description(type='text' placeholder='Description...')
        .actions
            .ui.cancel.basic.button
                // i.remove.icon
                | Cancel
            // if can_submit_bug
            .ui.green.ok.ok_button.button
                // i.checkmark.icon
                // +icon24 name='checkmark' classes='ui mini inline image'
                | Submit
    // .ui.basic.small.confirm.modal
    //     h1.ui.center.aligned.header Thanks!
    //         .ui.green.ok.large.ok_button.button
    //             | You're welcome!