template(name='left_sidebar')
    .ui.left.inline.labeled.icon.vertical.thin.sidebar.fixed.menu
        // a.toggle_sidebar.item
        //     // i.home.icon
        //     img(src='/android-chrome-192x192.png' style="width:50px;height:50px;")
        //     // |       Home
        if currentUser
            a.ui.toggle_sidebar.item(href='/lightschool' )
                +icon48 name='library' classes='ui centered image'
                |LightSchool
            a.ui.toggle_sidebar.item(href='/lightbank' class="{{isActivePath '/lightbank'}}" data-position="bottom center" data-content="Lightbank") 
                +icon48 name='summer' classes='ui centered image'
                |LightBank
            a.ui.toggle_sidebar.item(href='/journal') 
                +icon48 name='journal' classes='ui centered image'
                |Journal
        else
            a.toggle_sidebar.item(href='/about' class="{{isActivePath '/about'}}") 
                +icon48 name='info' classes='ui centered image'
                |About
            a.toggle_sidebar.icon.item(href='/courses' class="{{isActivePath '/courses'}}")
                +icon48 name='classroom' classes='ui centered image'
                | Courses
            a.toggle_sidebar.item(href='/lightbank' class="{{isActivePath '/lightbank'}}")
                +icon48 name='summer' classes='ui centered image'
                |LightBank
            a.toggle_sidebar.item(href='/contact' class="{{isActivePath '/contact'}}") 
                +icon48 name='phone' classes='ui centered image'
                |Contact
        if currentUser
            // if isInRole 'admin'
            //     a.toggle_sidebar.item(href='/admin/members' class="{{isActivePath '/admin/members'}}")
            //         i.configure.icon
            //         | Admin
            a.toggle_sidebar.item(href="/dashboard" class="{{isActivePath '/dashboard'}}")
                if currentUser.profile.image_id
                    img.ui.centered.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                else
                    i.user.icon
                |Profile
            a#logout.ui.item(href='#')
                +icon48 name='burglary' classes='ui centered image'
                | Sign Out
        else
            a.ui.item(href='/sign-in') 
                +icon48 name='signin' classes='ui centered image'
                | Sign In


// template(name='right_sidebar')
// .ui.black.big.launch.right.attached.fixed.button



//     .ui.right.vertical.visible.sidebar.labeled.icon.menu
//         a.toggle_sidebar.icon.item(href='/about' class="{{isActivePath '/about'}}") 
//             i.info.icon
//         a.toggle_sidebar.icon.item(href='/courses' class="{{isActivePath '/courses'}}")
//             i.university.icon
//         a.toggle_sidebar.icon.item(href='/people' class="{{isActivePath '/people'}}")
//             i.smile.icon
//         a.toggle_sidebar.icon.item(href='/lightbank' class="{{isActivePath '/lightbank'}}")
//             i.sun.icon
//         a.toggle_sidebar.icon.item(href='/contact' class="{{isActivePath '/contact'}}") 
//             i.call.icon