template(name='my_events')
    // .ui.container
    .ui.stackable.padded.grid
        .centered.row
            .three.wide.center.aligned.column
                #create_event.ui.basic.circular.small.button 
                    +icon48 name='calendar-plus' classes='ui mini inline image'
                    | Add Event
            .nine.wide.center.aligned.column
                h1.ui.center.aligned.header
                    +icon96 name='event' classes='ui tiny inline image'
                    | My Events
            .four.wide.center.aligned.column
                +button_link label='Browse Events' url="/events/browse" icon='party'
        .row
            .five.wide.column
                +theme_facet type='event'
                +location_facet type='event'
                +timestamp_facet type='event'
            
            .eight.wide.column
                .ui.relaxed.divided.items
                    each my_events
                        +my_event_view
            .three.wide.column
                .ui.dividing.header
                    +icon48 name='filter'
                    |Filter
                +published_filter
                +doc_limit
        



template(name='my_event_view')
    .ui.segment.document_container(class=event_card_class)
        .content
            .description
                if title
                    .header #{title}
                +view_tags
                .ui.basic.segment.large
                    |!{content} 
                |#{when}
                // .ui.divider
        .content
            +published
            +view_full_button