template(name='view_event')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                if editing
                    +save_button
                else
                    a.ui.basic.circular.button(href='/events')
                        +icon48 name='calendar' classes='ui mini inline image'
                        strong Events
            .eight.wide.column
                h1.ui.center.aligned.header 
                    +icon96 name='event'
                    if editing
                        | Editing
                    else 
                        | Viewing
                    if title
                        |'#{title}'
                    | Event
            .four.wide.column
                if editing
                    #delete_doc.ui.fluid.basic.small.circular.button(data-position="center bottom" data-tooltip='Delete')
                        +icon48 name='delete' classes='ui mini inline image'
                else
                    if is_author
                        +toggle_editing_button
        .centered.row
            .ten.wide.column
                +tags
                +location_tags
                if editing
                    +title
                    if components.youtube
                        +youtube
                    if components.image
                        +edit_image
                    if components.content
                        +content
                    .ui.hidden.divider
                    if components.content
                        +content
                    if components.link
                        +link
                else
                    .ui.basic.segment
                        |!{content}
                    if published
                        +comments
                    // +doc_matches
                    // if watson
                    //     +analyzed_watson_keywords
            .five.wide.column
                if editing
                    +components_header
                    +toggle_component name='youtube' label='Video' icon_name='movie'
                    +toggle_component name='image' label='Image' icon_name='image'
                    +toggle_component name='content' label='Text' icon_name='outline'
                    +toggle_component name='link' label='Link' icon_name='link'
                else
                    +author_info
                    +actions_header
                    +resonates_list
                    unless is_author
                        div
                            +thanks_button
                            +bookmark_button
                            +resonate_button
                +published