with course
    .ui.container.basic.segment
        .ui.center.aligned.header Edit Course
        .ui.form
            +title
            +subtitle
            +price
            +image
            +content
            +published
            .ui.divider
            .ui.center.aligned.basic.segment
                a.ui.big.teal.button(href="/course/#{_id}") Save
                #delete.ui.red.icon.button
                    i.trash.icon