with course
    .ui.container.basic.segment
        .ui.center.aligned.header Edit #{title} Course
        +title            
        .ui.hidden.divider
        +subtitle            
        .ui.hidden.divider
        +price
        .ui.hidden.divider
        +image
        .ui.hidden.divider
        +content

        .ui.divider
        .ui.center.aligned.basic.segment
            #save_course.ui.big.teal.button Save Course
            #delete.ui.red.icon.button
                i.trash.icon