with course
    .ui.container.basic.segment
        .ui.center.aligned.header Edit Course
        .ui.form
            .field
                label Title
                input#title(type='text' placeholder='Title' value=title)
            .field
                label Price in $
                input#price(type='number' min='0' value=price)
            .field
                label Description
                .froala-container
                    +froalaReactive course_description_context
                
            .ui.divider
            .ui.center.aligned.basic.segment
                a.ui.big.teal.button(href="/course/#{_id}") Save
                #delete.ui.red.icon.button
                    i.trash.icon