.ui.container
    
    .ui.center.aligned.header Contact Submissions
                
    table.ui.table
        thead
            tr
                th Name
                th Email
                th Message
        tbody
            each submissions
                tr
                    td #{name}
                    td #{email}
                    td #{message}