template(name='username_filter')
    .ui.dividing.header Filter Authors
    if selected_author_ids
        #clear_authors.ui.blue.icon.circular.button
            i.remove.icon
        each selected_author_ids
            .unselect_author.ui.blue.circular.button
                strong #{this}
    each author_tags
        .ui.basic.circular.button.select_author(class=cloud_tag_class) 
            | #{this}
            // if isInRole 'admin'
            //     small #{this.count}
