template(name='journal_edit')
    with doc
        .ui.container
            h1.ui.center.aligned.header Edit Journal Entry
            .ui.stackable.grid
                .twelve.wide.column
                    .ui.form
                        .ui.segment
                            +tags
                        .ui.segment
                            +content
                .four.wide.column
                    +published
                    +request_tori_feedback
                    .ui.divider
                    #saveDoc.ui.fluid.green.big.button Save
                    #deleteDoc.ui.small.fluid.red.basic.button Delete
