.ui.container.centered.stackable.grid
    .six.wide.column
        .center.shadows.large-text Hi, I'm Tori
        .ui.basic.segment
            p.large 
                | My vision is to create a tribe of people that live to be the change that they wish to see in their world. Through lifestyle coaching and motivational speaking, I aim to create a ripple effect that will positively impact and change the perspective of hundreds. 
            p.large
                |I am here to spread light to you and help you navigate your own path. Leading, inspiring, guiding, helping, and teaching empowers us to take action; gives you hope and belief in the ability to create the life that you wish to live.
    .six.wide.column
        // img.ui.centered.image(src="{{c.url 'tori_profile' height=800 width=600 background='white' crop='lpad'}}")
        img.ui.centered.image(src="{{c.url 'tori_profile' }}")
    .twelve.wide.column
        h1.ui.center.aligned.header
            |I am passionate about life itself.
        p.large Every day that I get a chance to live, I strive to live every hour to its fullest potential.
    
        p.large Every day I do my best to be in the moment and deeply feel my experience.
    
        p.large Every day I strive to be my best version of myself.
    
        p.large Every day I strive to discover where the limits of myself exist.
    
        p.large Every day I strive to discover if the limits of life exist.
    
        h1.center.aligned.header People often ask me, “Why do you do what you do?”

        p.large I look around and see how fast the world is moving; how many people are on autopilot and letting their lives run them, instead of them running their lives. I see individuals leading lives that they want to escape from. After waking up and pulling myself out of the darkness, I discovered that we don’t have to live the way everyone else lives. 
        p.large After changing my mindset, thought patterns, and self-care habits I cannot imagine living live a different way. I am here to be the light. In order help bring people to awareness, I introduce new values, paradigms and tools.

        h1.ui.center.aligned.header
            | If you really knew me, you would know...

        p.large That I love color coding my planner.
        p.large That when I ski, I feel free.
        p.large That I value genuine connection and authentic relating greatly.
        p.large That my favorite time of day is 9am.
        p.large That I love making a positive impact in other's lives.
        // .ui.hidden.divider
        // .ui.hidden.divider
        // .ui.hidden.divider
        // .ui.divider
    // .six.wide.column
    //     h2.ui.header 
    //         | Are you ready to receive weekly doses of light and inspiration?
    // .six.wide.column
    //     .ui.teal.big.button 
    //         .uppercase Yes, Please send me the light!