template(name='sol')
    .ui.container.grid
        .centered.row
            h1.ui.center.aligned.header Source of Light
        .five.wide.column
            .ui.segment
                .ui.header Members
            .ui.segment
                .ui.header Downloads
            .ui.segment
                .ui.header Collaboration
            .ui.segment
                .ui.header Reminders
            .ui.segment
                .ui.header 
                    i.red.configure.icon
                    |Admin
                #add_module.ui.basic.fluid.button
                    // i.red.configure.icon
                    | Add Module
        .ten.wide.column
            h1.ui.header Modules
            each modules
                .ui.segment
                    a(href="/view_module/#{_id}")
                        .ui.header #{title}
                    .meta Number #{module_number}
                    .ui.teal.progress
                        .bar
                        .progress
                        
                        
