.ui.text.container
    h1.ui.center.aligned.header
        |Let’s Find Your
        |Source of Light

    h3.ui.center.aligned.header About this course
    p   Source of Light is designed to spark transformation and encourage change from the inside out. This course will help you dive in and discover the source of your light...in other words, the source of your life. 
    p   Over the course of 9 weeks, I will guide you through stages of evolution in your world, including: paradigm, exploration, the experience, attention, journey, circle, reason, and practice. SOL will introduce you to a new paradigm, a new way of communication, and will provide you with tools and strategies to help you live your life in alignment. 
    p   By implementing and practicing what SOL provides for you, your every day life will no longer feel the same. You will be moving through life having a greater awareness in who you are and have more confidence around that. Moving through life feeling more seen and empowered. 
    
    h3.ui.center.aligned.header
        |Benefits of SOL
    
    .ui.bulleted.list
        .item Lifetime access to the course
        .item Access to the community 
        .item Have the ability to discuss content, answers and take-aways with others through the course’s forum
        .item Have the ability to connect with a group of like minded individuals 
        .item ((not finished copy)) Grandfathered into an up and coming amazing light community. I have not told anyone about this yet! But essentially I am building a community of amazing light-workers and healers. We are going to be producing some pretty amazing content, webinars, videos etc. In the future the individuals that want to have access with either pay a monthly fee or an annual fee. But by being a part of SOL, you will be grandfathered into the community!   
    
    .ui.centered.grid
        .six.wide.column
            #buy_sol.ui.big.teal.button
                |Enroll Now
        .six.wide.column
            .ui.large.teal.button
                | Sign up for the SOL Newsletter
    // p
    //     |Notes:
    //     |Gain access to the latest information and updates regarding the course
    //     |The course will open quarterly for new enrollments
    //     |4/2/17
    //     |6/18/17
    //     |9/3/17
    //     |11/19/17
