.ui.container
    
    .ui.center.aligned.header Newsletter Subscriptions
                
    table.ui.table
        thead
            tr
                th Email
        tbody
            each subscriptions
                tr
                    td #{email}