template(name='favorites')
    .ui.dividing.header My Favorites
    .ui.divided.vertical.list
        each favorited_items
            .item
                .image
                    +favorite_button
                .content
                    .header
                        if title
                            a(href="/view/#{_id}") #{title} 
                        each five_tags
                            .ui.small.basic.label #{this}
                    .description
                        .ui.hidden.fitted.divider
                        a.ui.basic.small.compact.button(href="/view/#{_id}") 
                            |View
                            i.right.chevron.icon    