#layerslider(style='width:909px; height: 600px;')
    .ls-slide(data-ls='slidedelay: 3000;')
        img.ls-bg(src="{{c.url 'tori_slider' }}", alt='Slide background' )
        .ls-l(style="top: 30%; height: 170px; width: 170px; left: 20%;" )
            // a(href='/join')
            h1.slider-header Tori Webster
        .ls-l(style="top: 50%; height: 170px; width: 170px; left: 20%;" )
            h3.slider-subheader
                |I’m a lifestyle coach & motivational speaker currently living in Boulder, Colorado. 
            h3.slider-subheader
                | My goal is to spread light to others to help them navigate their own journey through life.