template(name='browse_check_ins')
    // .ui.container
    .ui.stackable.padded.grid
        .centered.middle.aligned.row
            .three.wide.center.aligned.column
                #create_checkin.ui.basic.circular.small.button 
                    +icon48 name='plant-tree' classes='ui inline mini image'
                    |Check In
                    // +icon48 name='rotate-right' classes='ui mini inline image'
            .eight.wide.center.aligned.column
                +page_header icon='forest' label='Browse Check-Ins'
            .four.wide.center.aligned.column
                +button_link label='My Check-Ins' url="/checkins/mine" icon='grass'
        .row
            .five.wide.column
                +theme_facet type='checkin'
                +username_facet type='checkin'
                +location_facet type='checkin'
                +timestamp_facet type='checkin'
            
            .eight.wide.column
                // .ui.centered.stackable.cards
                .ui.relaxed.divided.items
                    each public_checkins
                        +browse_checkin_view
            .three.wide.column
                .ui.dividing.header
                    +icon48 name='filter'
                    |Filter
                +bookmark_filter
                +read_filter
                +doc_limit




template(name='browse_checkin_view')
    .ui.segment(class=checkin_card_class)
        .content
            .description
                +view_tags
                if content
                    .ui.basic.segment
                        .large150 !{content}
                .ui.horizontal.list
                    .item
                        +author_info
                    .item
                        unless is_author
                            +thanks_button
                            +resonate_button
                            +view_full_button
