template(name='browse_check_ins')
    // .ui.container
    .ui.stackable.padded.grid
        .centered.middle.aligned.row
            .three.wide.center.aligned.column
                #create_checkin.ui.basic.circular.small.button 
                    +icon48 name='hand-planting' classes='ui inline mini image'
                    |Check In
                    // +icon48 name='rotate-right' classes='ui mini inline image'
            .eight.wide.center.aligned.column
                h1.ui.center.aligned.header
                    +icon96 name='forest'
                    | Browse Check-Ins
            .four.wide.center.aligned.column
                a.ui.basic.circular.small.button(href='/checkins/mine') 
                    +icon48 name='grass' classes='ui inline mini image'
                    |My Check-Ins
                    // +icon48 name='rotate-right' classes='ui mini inline image'
        .row
            .five.wide.column
                +tag_facet type='checkin'
                +username_facet type='checkin'
                +location_facet type='checkin'
                +timestamp_facet type='checkin'
            
            .ten.wide.column
                each public_checkins
                    +browse_checkin_card




template(name='browse_checkin_card')
    .ui.fluid.card(class=checkin_card_class)
        .content
            .description
                +view_tags
                .ui.horizontal.list
                    .item
                        with author
                            |by 
                            if profile.image_id
                                img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                            a(href="/profile/#{username}") #{name} 
                            +staus_indicator
                        |#{when}
                    .item
                        if is_author
                            +edit_button
                        unless is_author
                            +thanks_button
                            +view_full_button
