template(name='check_in_tags')
    .ui.stackable.padded.grid
        .five.wide.column
            h1.ui.center.aligned.header
                |Check In Tags
            if isInRole 'admin'
                #add_check_in_tag.ui.basic.button
                    +icon48 name='add-tag' classes='ui mini inline image'
                    | Add Check In Tag
            div
                +theme_facet type='checkin_tag'
        .eleven.wide.column
            .ui.centered.stackable.four.cards
                each check_in_tags
                    +check_in_tag


template(name='check_in_tag')
    .ui.card.document_container(class=checkin_card_class)
        .image
            +icon96 name=icon_class
        .content
            if is_editing
                +icon_class
                +tags
            else
                .ui.header #{icon_class}
                each tags
                    .ui.tiny.basic.label #{this}
            +session_edit_button