template(name='dashboard')
    .ui.container
        h2.ui.center.aligned.header Dashboard
        .ui.three.centered.stackable.cards
            a#courses.ui.card
                .content
                    .header 
                        i.university.icon
                        |Courses
            a.ui.card(href='/people')
                .content
                    .header
                        i.users.icon
                        |People
            a#lightbank.ui.card
                .content
                    .header 
                        i.sun.icon
                        |Light Bank
            a.ui.card(href='/journal')
                .content
                    .header
                        i.write.square.icon
                        |Journal
            a.ui.card(href='/checkin')
                .content
                    .header
                        i.checkmark.icon
                        |Check In
            a.ui.card(href='/quizes')
                .content
                    .header
                        i.edit.icon
                        |Quizes
            a.ui.card(href='/exercises')
                .content
                    .header
                        i.paint.brush.icon
                        |Exercises
            a.ui.card(href='/karma')
                .content
                    .header
                        i.heart.outline.icon
                        |Karma
            a.ui.card(href='/transactions')
                .content
                    .header
                        i.exchange.icon
                        |Transactions
            a.ui.card(href='/services')
                .content
                    .header
                        i.configure.icon
                        | Services
            a.ui.card(href='/bookmarks')
                .content
                    .header
                        i.bookmark.outline.icon
                        |Bookmarks
            a.ui.card(href='/conversations')
                .content
                    .header
                        i.comments.outline.icon
                        |Conversations
            a.ui.card(href="/profile/#{currentUser.username}/account")
                .content
                    .header
                        i.setting.icon
                        |Account Settings
            if isInRole 'admin'
                a.ui.card(href='/admin/dashboard')
                    .content
                        .header
                            i.red.configure.icon
                            | Admin
            a#logout.ui.card(href='#')
                .content
                    .header
                        i.sign.out.icon
                        | Sign Out