template(name='dashboard')
    .ui.container
        .ui.stackable.centered.five.column.grid
            .column
                a.ui.icon.center.aligned.header(href='/people')
                    i.icon
                        +icon96 name='people'
                    |Community
            .column    
                a.ui.icon.center.aligned.header(href='/conversations')
                    i.icon
                        +icon96 name='chat'
                    |Conversations
            // .column    
            //     a.ui.icon.center.aligned.header(href='/bugs')
            //         i.icon
            //             +icon96 name='bug'
            //         | Bugs
            .column    
                a.ui.icon.center.aligned.header(href="/profile/#{currentUser.username}/account")
                    i.icon
                        +icon96 name='settings'
                    |Settings
            .column    
                a#logout.ui.icon.center.aligned.header(href='#')
                    i.icon
                        +icon96 name='burglary'
                    | Sign Out