template(name='plans')
    .ui.container
        .ui.header Plans
        .ui.two.centered.cards
            .ui.card
                .ui.header Monthly
                .ui.list
                    .item $10/Month
            .ui.card
                .ui.header Yearly
                .ui.list
                    .item $100/Year
                