template(name='plans')
    .ui.container
        .ui.header Plans
        .ui.two.centered.cards
            .ui.card
                .content
                    .ui.header Monthly
                    .ui.list
                        .item $10/Month
            .ui.card
                .content
                    .ui.header Yearly
                    .ui.list
                        .item $100/Year
                