template(name='edit_journal')
    .ui.padded.stackable.grid.document_container
        .centered.middle.aligned.row
            .two.wide.center.aligned.column
                +save_button
            .eight.wide.center.aligned.column
                h1.ui.center.aligned.header
                    +icon48 name='edit-file' classes='ui mini spaced image'
                    |Edit Journal Entry
                +toggle_zen_mode_button
            .two.wide.center.aligned.column
                #delete_doc.ui.fluid.basic.circular.button(data-position="bottom center" data-tooltip='Delete')
                    +icon48 name='delete' classes='ui mini inline image'
        .centered.row
            if zen_mode
                .sixteen.wide.column
                    if parent_id
                        +parent_doc_segment
                        .ui.hidden.divider
                    .ui.form
                        +intention_tags
                        +location_tags
                        +content
                        +tags
                        if watson 
                            +analyzed_watson_keywords
            else
                .twelve.wide.column
                    if parent_id
                        +parent_doc_segment
                        .ui.hidden.divider
                    .ui.form
                        +intention_tags
                        +location_tags
                        +content
                        +tags
                        if watson 
                            +analyzed_watson_keywords
                .four.wide.column.edit_journal_sidebar
                    +published
                    // .ui.divider
                    // +created_date
                    .ui.divider
                    // +request_tori_feedback
                    +call_watson
                    if watson
                        +doc_sentiment
                        +doc_emotion
                        +watson_keywords
                    if isInRole 'admin'
                        +edit_author
