template(name='edit_journal_template')
    .ui.padded.stackable.grid.document_container
        .centered.middle.aligned.row
            .two.wide.column
                +save_button
            .ten.wide.column
                h1.ui.center.aligned.header
                    if icon_class
                        +icon96 name=icon_class classes='ui spaced image'
                    else
                        +icon96 name='template' classes='ui spaced image'
                    |Edit '#{title}' Journal Template
            .two.wide.column
                #delete_doc.ui.small.basic.compact.circular.button(data-position='bottom center' data-tooltip='Delete')
                    +icon48 name='delete' classes='ui mini inline image'
        .centered.row
            .ten.wide.column
                +title
                +tags
                each journal_template_sections
                    .ui.segment
                        +title
                        +number
                        +delete_button
            .four.wide.column
                +published
                .ui.hidden.divider
                div
                    #add_section.ui.basic.circular.button
                        +icon48 name='add-row' classes='ui mini inline image'
                        |Add Section
                .ui.hidden.divider
                +icon_class
                // +created_date
                .ui.hidden.divider
                if isInRole 'admin'
                    +edit_author
