template(name='journal_prompts')
    .ui.stackable.padded.grid
        .centered.row
            .four.wide.column
                +button_link label='Browse Entries' url="/journal/browse" icon='reading'
            .eight.wide.column
                +page_header label='Journal Prompts' icon='ask-question'
            .four.wide.column
                +button_link label='Journal Templates' url="/journal/templates" icon='template'
        // .ui.center.aligned.basic.segment
        //     +doc_content tags='journal,prompt,blurb'
        // #convert_journal_docs.ui.button Convert Journal Docs
        .row
            .four.wide.column
                +theme_facet type='journal'
                +username_facet type='journal'
            .nine.wide.column
                .ui.relaxed.divided.items
                    each journal_prompts
                        +journal_prompt_view_small
            .three.wide.column
                +dividing_header label='Filter' icon='filter'
                +bookmark_filter
                +doc_limit
