.ui.menu
    .ui.container
        a.item(href="/dashboard" class="{{isActivePath '/dashboard'}}")
            i.dashboard.icon
            |Dashboard
        a.icon.item(href='/events' class="{{isActivePath '/events'}}")
            i.large.calendar.outline.icon
        a.icon.item(href='/articles' class="{{isActivePath '/articles'}}")
            i.large.newspaper.icon
        a.icon.item(href='/university' class="{{isActivePath '/university'}}")
            i.large.university.icon
        a.icon.item(href='/conversations' class="{{isActivePath '/conversations'}}")
            i.large.comments.outline.icon
        a.icon.disabled.item(href='/ideas' class="{{isActivePath '/ideas'}}")
            i.large.idea.icon
        a.icon.item(href='/products' class="{{isActivePath '/products'}}")
            i.large.shopping.cart.icon
        a.icon.item(href='/users' class="{{isActivePath '/users'}}")
            i.users.icon
