template(name='support')
    .ui.container
        .ui.dividing.header Support
        p
            |If you have an issue or question feel free to submit a ticket.
        .ui.form
            .field
                label Description
                textarea#ticket_body(rows='2')
            #submit_ticket.ui.right.floated.teal.button 
                |Submit
                i.send.icon
            
        if my_tickets
            .ui.dividing.header Your Tickets
            .ui.basic.segment
                .ui.comments
                    each my_tickets
                        +ticket
                    
template(name='ticket')                    
    .ui.comment
        .content
            a.author #{author.username}
            .metatdata 
                span.date #{when}
            .text #{body}
            .actions
                // a.reply Reply
                // if is_read
                //     a.mark_unread Mark Unread
                // else    
                //     a.mark_read Mark Read
                +delete_link