.ui.container
    with doc
        img.ui.centered.image(src="{{c.url image_id }}")
        each tags
            .ui.basic.label #{this}
        .ui.basic.segment
            |!{body}

                    
                        
