template(name='profile_journal')
    with user
        if public_journal_entries.count
            +tag_facet type='journal' author_id=user._id
            .ui.dividing.header
                | Public Journal Entries
            .ui.cards
                each public_journal_entries
                    +databank_card
        else
            h4.ui.header #{name} doesn't have any public journal entries.
            a.ui.teal.labeled.icon.button(href="/journal")
                i.edit.icon
                |View Journal Section