template(name='edit_template_response')
    .ui.padded.stackable.grid.document_container
        .center.aligned.row
            .three.wide.center.aligned.column
            .ten.wide.column
                h1.ui.center.aligned.header
                    +icon48 name='form' classes='ui mini spaced image'
                    |Edit '#{journal_template.title}' Journal Template Response
            .three.wide.column

        .centered.row
            .twelve.wide.column
                // with journal_template
                //     h2.ui.center.aligned.header #{title}
                each journal_template_sections
                    +journal_template_section
            .four.wide.column
                +save_link
                #delete_doc.ui.basic.circular.button(data-tooltip='Delete')
                    +icon48 name='delete' classes='ui mini inline image'
                +published


template(name='journal_template_section')
    .ui.segment
        .ui.header #{number}: #{title}
        unless response_exists
            .create_section_response.ui.basic.circular.compact.button(data-tooltip='Respond')
                +icon48 name='response' classes='ui mini inline image'
                // |Answer
        else
            each section_responses
                +edit_text_field key='text'
                +delete_button