template(name='conversation_edit')
    with doc
        .ui.container
            h1.ui.center.aligned.header Edit Conversation
            .ui.stackable.grid
                .twelve.wide.column
                    .ui.form
                        +participants
                        +tags
                        +content

                .four.wide.column
                    | Private conversations are only shown to participants you invite.  
                    +published
                    .ui.divider
                    if tags
                        a.ui.fluid.green.big.button(href="/conversation/#{_id}/view") 
                            |Save Conversation
                    else
                        .ui.fluid.green.big.disabled.button Add Tags to Save
                    .ui.hidden.divider
                    #delete_doc.ui.small.fluid.red.compact.button 
                        |Delete Conversation
