template(name='conversations')
    .ui.stackable.grid
        .four.wide.column
            h1.ui.horizontal.divider.header 
                i.comments.outline.icon
                |Conversations
            if currentUser
                #create_conversation.ui.basic.fluid.button
                    i.plus.icon
                    |Create Conversation
            .ui.dividing.header Viewing: 
                if viewing_published
                    #view_private_conversations.ui.basic.button 
                        i.unhide.icon
                        |Published
                if viewing_private
                    #view_published_conversations.ui.basic.button 
                        i.lock.icon
                        |Private
            +tag_filter type='conversation'
            +participant_filter type='conversation'
        .twelve.wide.column
            .ui.cards
                each conversations
                    +full_conversation_view


