template(name='conversations')
    .ui.horizontal.divider.header 
        i.comments.outline.icon
        |Conversations
    .ui.stackable.grid
        .four.wide.column

            if currentUser
                #create_conversation.ui.basic.button
                    i.plus.icon
                    |Create Conversation
            .ui.dividing.header Viewing: 
                if viewing_published
                    #view_private_conversations.ui.basic.button 
                        i.unhide.icon
                        |Published
                if viewing_private
                    #view_published_conversations.ui.basic.button 
                        i.lock.icon
                        |Private
            +conversation_cloud
        .twelve.wide.column
            .ui.cards
                each conversations
                    +conversation


template(name='conversation')
    .ui.fluid.card
        .content
            // .header
            //     |Conversation Topics:
            if published
                i.tags.icon
                each tags
                    .ui.basic.label #{this}
                span.right.floated
                    i.unlock.icon
                    |Published
            else
                span.right.floated
                    i.lock.icon
                    |Private
                
            .ui.center.aligned.basic.segment
                .ui.horizontal.list
                    each participants
                        .item
                            img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                            |#{name}
                            +staus_indicator
            .ui.divider
            .description
                .ui.threaded.comments
                    each conversation_messages
                        +conversation_message
                if in_conversation
                    .ui.divider
                    .ui.large.left.icon.fluid.transparent.input
                        i.green.plus.icon
                        input.add_message(type='text' placeholder='Add Message')
        if currentUser
            .extra.content
                if published
                    if can_edit
                        .ui.basic.button.close_conversation
                            i.red.remove.icon
                            |Close
                    if in_conversation
                        .ui.basic.button.leave_conversation
                            i.red.minus.icon
                            |Leave
                    else
                        .ui.basic.button.join_conversation
                            i.green.plus.icon
                            |Join
                a.ui.right.floated.basic.teal.button(href="/conversation/#{_id}/view")
                    |Full
                    i.right.arrow.icon
                    

