template(name='conversations')
    .ui.stackable.grid
        .five.wide.column
            h1.ui.header 
                i.comments.outline.icon
                |Conversations
        .ten.wide.column
            .ui.header Unread Messages Count: #{unread_message_count}
            if currentUser
                #create_conversation.ui.basic.button
                    i.plus.icon
                    |Create Conversation
    .ui.stackable.grid
        .four.wide.column
            // +theme_tag_filter type='conversation'
            // +participant_filter type='conversation'
            +conversation_list
            // .ui.dividing.header Viewing: 
            //     if viewing_published
            //         #view_private_conversations.ui.basic.button 
            //             i.unhide.icon
            //             |Published
            //     if viewing_private
            //         #view_published_conversations.ui.basic.button 
            //             i.lock.icon
            //             |Private
        .twelve.wide.column
            with selected_conversation
                +full_conversation_view
            // .ui.cards
            //     each conversations


