template(name='view_conversations')
    .ui.stackable.padded.grid
        .row
            .five.wide.center.aligned.column
                if currentUser
                    #create_conversation.ui.basic.circular.button
                        +icon48 name='plus' classes='ui mini inline image'
                        |New Conversation
            .eight.wide.center.aligned.column
                h1.ui.header 
                    +icon96 name='chat'
                    |Conversations
            .three.wide.center.aligned.column
                .ui.large.circular.basic.label(data-tooltip='Unread Messages' data-position='bottom center')
                    +icon96 name='new-message' classes='ui mini inline image'
                    |#{unread_message_count}
        .row
            .four.wide.column
                // +theme_tag_filter type='conversation'
                // +participant_filter type='conversation'
                +conversation_list
                // .ui.dividing.header Viewing: 
                //     if viewing_published
                //         #view_private_conversations.ui.basic.button 
                //             i.unhide.icon
                //             |Published
                //     if viewing_private
                //         #view_published_conversations.ui.basic.button 
                //             i.lock.icon
                //             |Private
            .twelve.wide.column
                with selected_conversation
                    +full_conversation_view
                // .ui.cards
                //     each conversations


