template(name='edit_conversation')
    .ui.container
        h1.ui.center.aligned.header Edit Conversation
        .ui.stackable.grid
            .twelve.wide.column
                .ui.form
                    +participants
                    +tags
                    +content
            .four.wide.column
                if tags
                    a.ui.fluid.green.big.button(href="/view/#{_id}") 
                        |Save Conversation
                else
                    .ui.fluid.green.big.disabled.button Add Tags to Save
                #delete_doc.ui.small.fluid.red.compact.button 
                    |Delete Conversation
                .ui.divider
                | Private conversations are only shown to participants you invite.  
                +published
