with article
    .ui.container
        a.ui.top.left.attached.basic.button(href="/articles")
            i.arrow.left.icon
            |Articles
        if image_id
            img.ui.centered.image(src="{{c.url image_id height=500 width=800 background='white' crop='lpad'}}")
        h1.ui.header #{title}
        .ui.stackable.divided.grid
            .twelve.wide.column
                .content
                    if publish_date
                        h4.ui.header Published #{publish_when}
                    .ui.basic.segment
                        |!{content}
                    if tags
                        .ui.basic.segment
                            each tags
                                .ui.basic.label #{this}
                +user_blurb
                +comments
            .four.wide.column
                if isInRole 'admin'
                    .ui.divider.header Admin
                    i.large.red.configure.icon
                    .edit_article.ui.basic.button
                        i.pencil.icon
                        |Edit Article
                    if published
                        .ui.green.label Published
                    else
                        .ui.red.label Unpublished                        
                .ui.horizontal.divider.header
                +voting
                +favorite
                +tag_rating