with article
    .ui.container.segment
        .ui.center.aligned.header Edit Article
        .ui.form
            +title
            +image
            .field
                label Publish Date
                input#publish_date(type='date' value=publish_date)
            +content
            +tags
            +published
            +featured
            if title
                #save_article.ui.green.button 
                    i.check.icon
                    |Save
            +delete
