template(name='footer')
    .ui.basic.fluid.segment.footer
        .ui.divider
        .ui.container.grid
            .eight.wide.column
                .ui.center.aligned.very.padded.basic.segment
                    .ui.header
                        |Have we connected on social media?
                    a(href='https://twitter.com/_toriwebster')
                        i.big.twitter.link.teal.icon
                    a(href='https://www.instagram.com/_toriwebster/')
                        i.big.instagram.link.teal.icon
            .eight.wide.column
                +mailchimp
                // +twitter
        .row
            .ui.center.aligned.header
                i.copyright.icon
                |Tori Webster Inspires LLC