template(name='footer')
    .ui.basic.fluid.segment.footer
        // .ui.divider
        .ui.container.stackable.grid
            .eight.wide.column
                .ui.center.aligned.very.padded.basic.segment
                    .ui.header
                        |Have we connected on social media?
                    a(href='https://twitter.com/_toriwebster' target='_blank')
                        i.big.twitter.link.teal.icon
                    a(href='https://www.snapchat.com/add/tw3bsta' target='_blank')
                        i.big.snapchat.link.teal.icon
                    a(href='https://www.instagram.com/_toriwebster/' target='_blank')
                        i.big.instagram.link.teal.icon
                    a(href='https://www.facebook.com/toriwebsterinspires/' target='_blank')
                        i.big.facebook.link.teal.icon
                    a(href='https://www.youtube.com/channel/UC6X_HA8gs0yQy0xAWrhi1zw/' target='_blank')
                        i.big.youtube.link.teal.icon
            .eight.wide.column
                +mailchimp
        .row
            .ui.center.aligned.header
                i.copyright.icon
                |Tori Webster Inspires LLC