with product
    .ui.container
        .ui.center.aligned.header Edit Product
        .ui.form
            +title
            +image
            +content
            +tags
            +price
            +published
            if tags
                #save_product.ui.green.button 
                    i.check.icon
                    |Save
            +delete
