template(name='components')
    .ui.padded.grid
        .four.wide.column
            #add_component.ui.button Add
            +toggle_editing_button
        .twelve.wide.column
            .ui.cards
                each components
                    .ui.card
                        .content
                            if editing
                                +title
                                +slug
                                +icon_class
                                +field_type
                            else
                                .header
                                    +icon96 name=icon_class classes='ui mini inline image'
                                    |#{title}
                                .meta Slug: #{slug}
                                