template(name='journal_view')
    a.ui.basic.button(href='/journal')
        i.left.chevron.icon
        strong Journal
    with doc
        .ui.container
            h1.ui.center.aligned.header View Journal Entry
            .ui.grid
                .ten.wide.column
                    |!{content}
                    if published
                        +comments
                    +doc_matches

                .five.wide.column
                    .ui.dividing.header Tags
                    each tags
                        .ui.basic.large.label.doc_tag #{this}
                    .ui.dividing.header Actions
                    +bookmark_button
                    unless is_author
                        +resonate_button
                        +thanks_button
                    +resonates_list

                    .ui.dividing.header Visibility
                    if published
                        .ui.basic.green.large.label 
                            i.unlock.icon
                            | Public
                    else
                        .ui.basic.large.label 
                            i.lock.icon
                            | Private
                    .ui.header by #{author.name}
                    .ui.divider
                    if is_author
                        a.ui.basic.button(href="/journal/edit/#{_id}") 
                            i.pencil.icon
                            |Edit
