template(name='journal_edit')
    with doc
        .ui.container
            h1.ui.center.aligned.header Edit Journal Entry
            .ui.stackable.grid
                .twelve.wide.column
                    +parent_doc_segment
                    .ui.form
                        +content
                        +tags
                        if watson 
                            +analyzed_watson_keywords
                    // |{{> jsonView json=watson}}
                .four.wide.column
                    +published
                    +request_tori_feedback
                    +call_watson
                    if watson
                        +doc_sentiment
                        +doc_emotion
                        +watson_keywords
                    .ui.divider
                    if isInRole 'admin'
                        +edit_author
                    if tags
                        a.ui.fluid.green.big.button(href="/checkin/#{_id}/view")
                            i.save.icon
                            |Save
                    else
                        .ui.fluid.green.big.disabled.button Add Tags to Save
                    .ui.hidden.divider
                    #delete_doc.ui.small.fluid.red.compact.button 
                        i.trash.icon
                        |Delete
