template(name='journal_edit')
    with doc
        .ui.container
            h1.ui.center.aligned.header Edit Journal Entry
            .ui.stackable.grid
                .twelve.wide.column
                    .ui.form
                        +tags
                        +content
                        #call_watson.ui.basic.large.button 
                            i.sitemap.icon
                            |Call Watson
                        if watson
                            // {{> jsonView json=watson options=options }}
                            {{> jsonView json=watson}}
                .four.wide.column
                    +published
                    +request_tori_feedback
                    .ui.divider
                    if tags
                        #save_doc.ui.fluid.green.big.button 
                            i.save.icon
                            |Save
                    else
                        .ui.fluid.green.big.disabled.button Add Tags to Save
                    .ui.hidden.divider
                    #delete_doc.ui.small.fluid.red.compact.button 
                        i.trash.icon
                        |Delete
