template(name='view_journal')
    a.ui.basic.button(href='/journal')
        i.left.chevron.icon
        strong Journal
    .ui.container
        h1.ui.center.aligned.header View Journal Entry
        .ui.stackable.grid
            .ten.wide.column
                +parent_doc_segment
                |!{content}
                if published
                    +comments
                +doc_matches
                if watson
                    +analyzed_watson_keywords
                +child_docs
            .five.wide.column
                .ui.header
                    |by
                    img.ui.avatar.image(src="{{c.url author.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    |#{author.name}
                    with author
                        +staus_indicator
                    h3.ui.sub.header #{when}
                if is_author
                    +call_watson
                if watson
                    +doc_sentiment
                    +doc_emotion
                    +watson_keywords
                .ui.dividing.header Tags
                each tags
                    .ui.basic.large.label.doc_tag #{this}
                .ui.dividing.header Actions
                +bookmark_button
                +reflect_button
                unless is_author
                    +resonate_button
                    +thanks_button
                +resonates_list
                +toggle_doc_read
                +read_by
                +published
                .ui.divider
                +edit_link_button
