.ui.menu
    .ui.container
        a.item(href='/admin/members') 
            i.users.icon
            |Members
        a.item(href='/admin/contact_submissions') 
            i.edit.icon
            |Contact Submissions
        a.item(href='/admin/pages') 
            i.clone.icon
            |Pages
        a.item(href='/admin/lab') 
            i.lab.icon
            |TW Lab
        
        // a.item(href='/admin/newsletter') Newsletter Subcriptions

        