.ui.menu
    .ui.container
        a.item(href='/admin/members') Members
        a.item(href='/admin/contact_submissions') Contact Submissions
        a.item(href='/admin/newsletter') Newsletter Subcriptions
        a.item(href='/admin/modules') Modules
        
        