.ui.stackable.menu
    .ui.container
        a.item(href='/admin/dashboard') 
            i.dashboard.icon
            |Dashboard
        a.item(href='/admin/members') 
            i.users.icon
            |Members
        a.item(href='/admin/contact_submissions') 
            i.edit.icon
            |Contact Submissions
        a.item(href='/admin/pages') 
            i.clone.icon
            |Pages
        a.item(href='/admin/project_management') 
            i.line.chart.icon
            |Project Management
        a.item(href='/admin/all_content') 
            i.database.icon
            |Content
        a.item(href='/admin/email') 
            i.mail.icon
            |Emails
        
        // a.item(href='/admin/newsletter') Newsletter Subcriptions

        