.ui.container
    table.ui.table
        thead
            tr
                th Image
                th Profile
        tbody
            each tori_members
                tr
                    td 
                        img.ui.tiny.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                    td 
                        .ui.header 
                            |#{profile.name}
                        div 
                            | Username: #{username}
                        each emails
                            |#{address}
                        a(href="/account/profile/edit/#{_id}")
                            |Edit
