html(xmlns='http://www.w3.org/1999/xhtml')
    head
        meta(name='viewport', content='width=device-width')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title HTML email test
        link(href='styles.css', media='all', rel='stylesheet', type='text/css')
    body(itemscope='', itemtype='http://schema.org/EmailMessage')
        | From: Versaclimber
        | Subject: Versaclimber Administrator Invitation
        p Hello!
        p
            | {{registrationFullName}} has invited you to be an administrator for the {{climberName}} Versaclimber. This will give you permission to edit the Versaclimber name & registration information, as well as update the electronics through the app when new versions are released. Here is what you need to do:
        p First, Get the VersaBlue app!
        p
            | Last, Create an account using this email address: {{adminEmailAddress}}. (If you want to use a different email address contact {{registrationFullName}} and ask them to update their invite under the Profiles/Devices screen.)
        p
            | That is it! Let us know if you have questions. You can reach us at (support email address).
        p
            | Cheers,
        p
            | The Versaclimber Team
