template(name='checkout')
    .ui.container
        .ui.header Buy Item
        with product
            .image
                img.ui.centered.image(src="{{c.url image_id height=400 width=800 background='white' crop='lpad'}}")
            .ui.hidden.divider
            h1.ui.header #{title}
            .ui.divided.stackable.grid
                .ten.wide.column
                    .description
                        |!{description}
                .five.wide.column
                    .ui.header Price: #{price}
                    #buy.ui.green.button Buy
                    .ui.horizontal.divider.header Admin
                    a.ui.primary.fluid.basic.button(href="/edit_product/#{_id}")
                        i.pencil.icon
                        |Edit
