template(name='edit_need')
    .ui.padded.stackable.grid
        .centered.middle.aligned.row
            .two.wide.column
                +save_button
            .ten.wide.column
                h1.ui.center.aligned.header Edit #{title} Request
            .two.wide.column
                #delete_doc.ui.fluid.basic.small.circular.button(data-position='bottom center' data-tooltip='Delete')
                    +icon48 name='delete' classes='ui mini inline image'

        .row
            .eleven.wide.column
                .ui.form
                    +title
                    +tags
                    +content
                    +edit_image
            .five.wide.column
                .ui.divider
                +bounty
                +edit_quantity
                +published
                if isInRole 'admin'
                    +edit_author
