template(name='doc_subtitle')
    if doc
        with doc
            if is_editing
                .ui.labeled.fluid.input
                    .ui.basic.label Subtitle
                    input#subtitle(type='text' value=subtitle)
            else
                div(class=doc_classes)
                    |#{subtitle}
            if isInRole 'admin'        
                +edit_button
    else
        if isInRole 'admin'
            .ui.header No Doc Found
            .create_doc.ui.basic.button
                i.plus.icon
                |Create HTML with #{template_tags}
            
