template(name='doc_title')
    if doc
        with doc
            if is_editing
                .ui.labeled.fluid.input
                    .ui.basic.label Title
                    input#title(type='text' value=title)
            else
                div(class=doc_classes)
                    |#{title}
            +edit_button
    else
        if isInRole 'admin'
            .ui.header No Doc Found
            .create_doc.ui.basic.button
                i.plus.icon
                |Create HTML with #{template_tags}
            
