template(name='my_journal')
    .ui.stackable.padded.grid
        .centered.row
            .four.wide.column
                #create_checkin.ui.basic.circular.small.button 
                    +icon48 name='create-document' classes='ui mini inline image'
                    |Add Entry
            .nine.wide.column
                h1.ui.center.aligned.header
                    +icon96 name='journal' classes='ui mini inline image'
                    | My Journal Entries
            .three.wide.column
                a.ui.basic.circular.small.button(href='/journal/browse') 
                    +icon48 name='reading' classes='ui mini inline image'
                    |Browse Entries
                    // +icon48 name='rotate-left' classes='ui mini inline image'
        .row
            .four.wide.column
                +theme_facet type='journal'
                +location_facet type='journal'
                +intention_facet type='journal'
                +timestamp_facet type='journal'
            .nine.wide.column
                .ui.relaxed.divided.items
                    each journal_entries
                        +my_entry_view
            .three.wide.column
                .ui.dividing.header
                    +icon48 name='filter'
                    |Filter
                +published_filter
                +doc_limit
        



template(name='my_entry_view')
    .ui.segment.document_container(class=journal_segment_class)
        .content
            if published
                .ui.top.right.attached.basic.label(data-tooltip='Published')
                    +icon48 name='eye'
            else
                .ui.top.right.attached.basic.label(data-tooltip='Private')
                    +icon48 name='invisible'
            .description
                +parent_doc_segment
                .ui.basic.segment
                    .large130 !{content}
            // +icon24 name='clock' classes='ui mini inline image'
            .ui.hidden.fitted.divider
            strong written #{when}
            .ui.hidden.fitted.divider
            +view_tags
            .ui.hidden.divider
        .ui.fluid.accordion
            .title
                .ui.header 
                    // +icon48 name='more' classes='ui mini inline image'
                    | More
                    i.dropdown.icon
            .content
                .ui.divided.stackable.grid
                    .ten.wide.column
                        .ui.basic.segment
                            .extra
                                +bookmark_button
                                +edit_link_button
                                if is_author
                                    +published
                                +view_full_button
                    .six.wide.column
                        .image
                            .ui.basic.segment
                                if watson
                                    +doc_sentiment
                                    +doc_emotion
                                else
                                    if can_edit
                                        +call_watson
