template(name='docs')
    .ui.container
        +doc_cloud
        // if one_doc
        each docs
            +doc_view

        


template(name='doc_view')
    .ui.container.basic.fluid.segment
        // a(href="/doc/view/#{_id}")
        //     .image
        //         img.ui.large.centered.image(src="{{c.url image_id }}")
        |!{body}
        // .meta
        //     each tags
        //         .ui.circular.small.button.tag(class=tag_class) #{this}
        if can_edit
            .edit.ui.circular.basic.large.button
                i.red.configure.icon
                |Edit
