template(name='docs')
    .ui.container
        +doc_cloud
        each docs
            +doc_view
        if isInRole 'admin'
            #add.ui.basic.button
                i.red.configure.icon
                | Add Doc

        


template(name='doc_view')
    .ui.text.container
        a(href="/doc/view/#{_id}")
            .image
                img.ui.large.centered.image(src="{{c.url image_id }}")
        // .meta
        //     each tags
        //         .ui.circular.button.tag(class=tag_class) #{this}
        .description
            |!{body}
        if can_edit
            .edit.ui.circular.basic.large.button
                i.pencil.icon.icon
                |Edit
