.ui.huge.borderless.stackable.menu
    .ui.text.container
        // unless currentUser
        a.item(href='/' class="{{isActivePath '/'}}")
            .imogen Tori Webster
        if isInRole 'admin'
            a.item(href='/modules' class="{{isActivePath '/modules'}}") Modules
            // a.item(href='/store' class="{{isActivePath '/store'}}") Store
            // a.item(href='/posts' class="{{isActivePath '/posts'}}") Blog
        a.item(href='/courses' class="{{isActivePath '/courses'}}") Courses
        a.item(href='/book_tori' class="{{isActivePath '/book_tori'}}") Book Tori
        a.item(href='/how-i-work' class="{{isActivePath '/how-i-work'}}") How I Work
        a.item(href='/about' class="{{isActivePath '/about'}}") About
        a.item(href='/contact' class="{{isActivePath '/contact'}}") Contact
    .right.menu
        if currentUser
            // a.icon.item(href='/dashboard' class="{{isActivePath '/dashboard'}}")
            //     i.line.chart.icon
            // a.icon.item(href='/notifications' class="{{isActivePath '/notifications'}}")
            //     i.alarm.icon
            // a.icon.item(href='/messages' class="{{isActivePath '/messages'}}")
            //     i.mail.icon
            // a.icon.item(href='/cart' class="{{isActivePath '/cart'}}")
            //     i.cart.icon
            if isInRole 'admin'
                a.item(href='/admin/members' class="{{isActivePath '/admin/members'}}")
                    i.configure.icon
                    | Admin
            a.item(href="/account/profile/edit/#{currentUser._id}" class="{{isActivePath '/account/profile/edit/#{currentUser._id}'}}")
                if currentUser.profile.image_id
                    img.ui.avatar.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                else
                    i.user.icon
                if currentUser.name
                    | #{currentUser.name}
                else
                    | Profile
            a#logout.ui.item(href='#') 
                i.sign.out.icon
                | Sign Out
        else
            a.ui.item(href='/sign-in') 
                i.sign.in.icon
                | Sign In
