template(name='course_collaboration')
    .ui.text.container Course Collaboration 
        #course_modules_files_menu.ui.top.attached.tabular.menu
            each modules
                a.item(data-tab="tab#{number}") #{number}
        each modules
            .ui.bottom.attached.tab.segment(data-tab='tab#{number}')
                +module_files this
            
