with doc
    .ui.container.basic.segment
        .ui.center.aligned.header Edit Doc
        .ui.form
            .field
                label Tags
                each tags
                    .ui.basic.button.doc_tag(class=doc_tag_class)
                        i.minus.icon
                        |#{this}
                .ui.left.icon.four.wide.input
                    i.add.icon
                    input#add_tag(type='text' placeholder='Add Tag' maxlength='50')
            if image_id
                .field
                    label Image
                    .ui.large.image
                        img(src="{{c.url image_id width=800 crop='fit'}}")
                        a#remove_photo.ui.top.left.attached.link.basic.label Remove
                        .ui.bottom.right.attached.basic.label Image Id: #{image_id}
            else
                .fields
                    .field
                        label Upload Image
                        input(type='file' name='upload_picture' accept='image/*')
                    if isInRole 'admin'
                        .field
                            label or Choose Cloudinary Image Id
                            input#input_image_id(type='text')
                    
            .field
                label Body
                .froala-container
                    +froalaReactive getFEContext
            // .ui.divider
            .ui.center.aligned.basic.segment
                #save.ui.huge.teal.button Save
                #delete.ui.red.icon.button
                    i.trash.icon