with doc
    .ui.container.basic.segment
        .ui.center.aligned.header Edit Doc
        +tags filter='lightbank'
        +content        
        .ui.hidden.divider
        .ui.center.aligned.basic.segment
            #save.ui.huge.teal.button Save
            #delete.ui.red.icon.button
                i.trash.icon