template(name='edit_lightbank')
    .ui.stackable.padded.grid.document_container
        .centered.middle.aligned.row
            .two.wide.column
                +save_button
            .eight.wide.column
                h1.ui.center.aligned.header
                    // +icon96 name='nature' classes='ui mini inline image'
                    h2.ui.center.aligned.header
                        if is_quote
                            +icon48 name='get-quote' classes='ui mini inline image'
                            |Edit Quote
                        else if is_poem
                            +icon48 name='close-up' classes='ui mini inline image'
                            | Edit Poem
                        else if is_journal_prompt
                            +icon48 name='question-mark' classes='ui mini inline image'
                            | Edit Journal Prompt
                        else if is_passage
                            +icon48 name='align-left' classes='ui mini spaced image'
                            | Edit Passage
                        else
                            |Edit Lightbank Entry
            .two.wide.column
                #delete_doc.ui.fluid.basic.circular.button(data-position="bottom center" data-tooltip='Delete')
                    +icon48 name='delete' classes='ui mini inline image'
        .centered.row
            .eleven.wide.column
                with lightbank_entry
                    if is_custom
                        if components.youtube
                            +youtube
                        if components.image
                            +edit_image
                        if components.content
                            +content
                    else
                        if is_poem
                            +title label='Poem Title'
                        +content
                        .ui.hidden.divider
                        if is_quote
                            +author_name label='Quote'
                        if is_journal_prompt
                            +author_name label='Prompt'
                        if is_passage
                            +author_name label='Passage'
                +tags
            .five.wide.column
                .ui.header 
                    |created by 
                    if is_author
                        |you
                    else
                        |#{author.name}
                    |#{when}
                +change_lightbank_type lightbank_entry
                if is_custom
                    .ui.dividing.header 
                        +icon48 name='slider' classes='ui mini inline image'
                        |Components
                    +toggle_component name='youtube' label='Video' icon_name='movie'
                    +toggle_component name='image' label='Image' icon_name='image'
                    +toggle_component name='content' label='Text' icon_name='outline'
                // .ui.segment
                //     .ui.form
                //         .grouped.fields
                //             .label Buttons
                            // +toggle_resonates_button
                            // +toggle_bookmarkable_button
                            // +toggle_complete_button
                .ui.dividing.header 
                    +icon48 name='sports-mode' classes='ui mini inline image'
                    |Actions
                if is_author
                    +published
                    .ui.hidden.divider
                // +call_watson
                // else
                //     unless published
                //         +request_tori_feedback label='Submit for Approval'
    
                if isInRole 'admin'
                    +edit_author
