template(name='view_lightbank')
    .ui.stackable.padded.grid
        .centered.middle.aligned.row
            .four.wide.center.aligned.column
                if editing
                    #delete_doc.ui.fluid.basic.circular.button(data-position="bottom center" data-tooltip='Delete')
                        +icon48 name='delete' classes='ui mini inline image'
                else
                    +button_link label='Lightbank' url='/lightbank' icon='chevron-left'
            .eight.wide.center.aligned.column
                h1.ui.center.aligned.header 
                    if is_quote
                        +icon96 name='get-quote' classes='ui mini inline image'
                        | Quote
                    else if is_poem
                        +icon96 name='close-up' classes='ui mini inline image'
                        | Poem
                    else if is_journal_prompt
                        +icon96 name='question-mark' classes='ui mini inline image'
                        | Journal Prompt
                    else if is_passage
                        +icon96 name='align-left' classes='ui mini spaced image'
                        | Passage
                    else
                        | Lightbank Entry
                        
            .four.wide.center.aligned.column
                if editing
                    +save_button
                else
                    if can_edit
                        +toggle_editing_button
        .centered.row
            .ten.wide.column
                unless editing
                    if has_youtube
                        if youtube
                            +youtube
                    if has_image
                        if image_id
                            .ui.large.image
                                img(src="{{c.url image_id width=500 crop='fit'}}")
                        if image_url
                            .ui.fluid.image
                                img(src=image_url)
                    // if has_content
                    .large130
                        |!{content}
                    if author_name
                        h3.ui.header
                            |- #{author_name}
                    if child_count
                        +journal_responses
                    if watson
                        .ui.segment
                            .ui.header Content Analysis
                            .ui.two.column.grid
                                .column
                                    +doc_sentiment
                                    +watson_keywords
                                .column
                                    +doc_emotion
                            +analyzed_watson_keywords
                    // +child_docs
                else    
                    with lightbank_entry
                        if is_custom
                            if components.youtube
                                +youtube
                            if components.image
                                +edit_image
                            if components.content
                                +content
                        else
                            if is_poem
                                +title label='Poem Title'
                            +content
                            .ui.hidden.divider
                            if is_quote
                                +author_name label='Quote'
                            if is_journal_prompt
                                +author_name label='Prompt'
                            if is_passage
                                +author_name label='Passage'
            .four.wide.column
                +tags
                if editing
                    +change_lightbank_type lightbank_entry
                    if is_custom
                        .ui.dividing.header 
                            +icon48 name='slider' classes='ui mini inline image'
                            |Components
                        +toggle_component name='youtube' label='Video' icon_name='movie'
                        +toggle_component name='image' label='Image' icon_name='image'
                        +toggle_component name='content' label='Text' icon_name='outline'
                    +published
                    if isInRole 'admin'
                        +edit_author
                
                else
                    +author_info
                    +doc_stats_module
                    +actions_header
                    +bookmark_button
                    +thanks_button
                    +reflect_button
                    +resonate_button
                    +resonates_list 
                    if can_edit
                        +published
